@use '_partials/variables' as v
@use '_partials/mixins' as m

@import "comments.sass"
@import "fonts.sass"
@import "default.sass"
@import "grid.sass"

@import "../../components/preloader/component"
@import "../../components/buttons/component"
// @import "../../components/menu-underline-js/component"
// @import "../../components/btn-vawe/component"
// @import "../../components/modal/component"
// @import "../../components/form/component"

.wrapper
  margin: 0 auto
  max-width: v.$site-max-width
  overflow: hidden
  position: relative

.section-title
  h2
    margin-bottom: 6rem
//   color: $heading-color
//   h1
//     margin-bottom: 1.5rem

// .section-content
//   p
//     font-family: $ff-primary
//     font-size: 1.6rem
//     font-weight: 500
//     line-height: 1.375

.section
  padding: v.$section-py 0
  &_py-0
    padding-top: 0
    padding-bottom: 0
  &_bg-grey
    background-color: #edeeef

  &_light
    *
      color: v.$white
//   &_py-60
//     padding-top: 6rem
//     padding-bottom: 6rem
//   &_py-80
//     padding-top: 8rem
//     padding-bottom: 8rem

// .section-invert
//   h2, p
//     color: $text-light



// vars
$menu-trigger-offset-r: calc(v.$gutter + 2rem)
$menu-trigger-width: 2.8rem
$menu-trigger-height: 2.1rem
$menu-trigger-dash-height: .3rem


/* Header */
.header
  position: fixed
  top: 0
  right: 0
  left: 0
  z-index: 10
  transition: background-color calc( v.$transition-main * 2 )
  &__inner
    padding: 1.35rem 0
    display: flex
    align-items: center

  &__right
    display: flex
    align-items: center
    margin-left: auto
    margin-right: calc( $menu-trigger-offset-r + $menu-trigger-width + 3rem )
  
  &-logo 
    padding: .4rem 1rem
    max-width: 22rem
    background: v.$white
    border-radius: .5rem

  &__menu-trigger
    position: absolute
    right: $menu-trigger-offset-r
    z-index: 1000


  &.bg-painted
    background-color: rgba(251, 251, 251, .5)
    .header__contacts-link a
        color: v.$grey-primary
    .header__contacts-link svg path
      fill: v.$grey-primary
      stroke: v.$grey-primary
    .menu-trigger__dash
      background-color: v.$grey-primary


.header-menu
  &__logo,
  &-trigger,
  &-overl
    display: none


.contacts-link
  display: flex
  align-items: center
  flex-wrap: nowrap
  transition: v.$transition-main
  &__icon
    margin-right: 0.5em
    transition: v.$transition-main
    path
      transition: inherit
  &__icon--phone
    width: 1.05em
    height: 1.05em
  a
    display: inline-flex
    align-items: center
    font-size: 20px
    font-weight: 500
    color: v.$grey-light
    transition: color v.$transition-main


.header-menu
  // display: none
  position: fixed
  top: 0
  right: 0
  bottom: 0
  transform: translateX(100%)
  z-index: 999
  width: 75%
  max-width: 160rem
  background-color: v.$header-menu-bg
  transition: transform ease-out 0.3s

  &__inner
    position: relative
    display: flex
    flex-direction: column
    align-items: stretch
    margin-left: auto
    margin-right: auto
    width: 100%
    height: 100%

  &__header
    padding: v.$gutter calc( v.$gutter * 2 )
    display: flex
    align-items: center
    flex: none
    min-height: 8rem
    // box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2)
    // background: rgba(255, 255, 255, 1)

  &__logo
    display: block
    width: 16rem
    max-height: 3.2rem
    flex: none
    display: none

  &-scrollable
    overflow-x: hidden
    overflow-y: auto

  &__body
    padding-left: 6rem
    padding-right: 6rem
    display: flex
    flex-direction: column
    flex: 1

  &__footer
    padding-top: v.$gutter
    padding-bottom: v.$gutter
    display: flex
    flex-direction: column
    align-items: flex-start
    flex: none
    min-height: 8rem
    .contacts-link
      display: none

    // box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2)
    // background: rgba(255, 255, 255, 1)

  .js-menu-item
    transform: translateX(5px)
    opacity: 0

  &.open
    transform: translateX(0)
    .js-menu-item
      transition: 500ms
      // transform: translateX(0)
      transform: none
      opacity: 1



  &-overl
    display: block
    position: fixed
    top: 0
    right: 0
    bottom: 0
    height: 0
    z-index: -1
    width: 100%
    height: 100%
    background: rgba(0, 0, 0, 0)
    visibility: hidden
    transition: 0.3s
    &.open
      z-index: 980
      width: 100%
      visibility: visible
      background: rgba(0, 0, 0, 0.5)






  // &__footer
  //   display: block


.menu-trigger
  display: block
  width: $menu-trigger-width
  height: $menu-trigger-height
  position: relative
  transition: v.$transition-main

  &__dash
    position: absolute
    display: block
    width: 2.8rem
    height: $menu-trigger-dash-height
    background-color: v.$grey-light
    transition: inherit
  &__dash
    &:first-child
      top: 0
    &:nth-child(2)
        top: calc( ($menu-trigger-height / 2) - ($menu-trigger-dash-height * .5) )
    &:last-child
        top: calc( $menu-trigger-height - $menu-trigger-dash-height )
  
  &.open
    right: 17px
    .menu-trigger__dash
      &:first-child
        transform-origin: 0px 2px
        transform: rotate(45deg)
      &:nth-child(2)
        opacity: 0
      &:last-child
        transform-origin: 2px 2px
        transform: rotate(-45deg)




// Menu
// Vars
$menu-item-lv1-max-width: 36rem

.header-menu__nav
  display: flex
  flex: 1


.menu
  flex: 1
  position: relative
  &-item.lv1
    max-width: $menu-item-lv1-max-width
  &-item > a
    display: block
    padding: 1rem 0
    font-size: 37px
    font-weight: 500
    color: v.$grey-primary
  &-item.current-menu-item > a
    color: v.$accent-color


.sub-menu.lv2
  padding-top: 1rem
  position: absolute
  top: 0
  left: $menu-item-lv1-max-width
  right: 0
  bottom: 0
  overflow: auto
  opacity: 0
  visibility: hidden
  transition: v.$transition-main


.menu-item.lv2 > a
  // padding: 0.8rem 0
  padding: 0.6rem 0
  font-size: 20px
  font-weight: 400
  transition: none


.menu
  // &-item:not(.current-menu-item):hover > a
  &-item:hover > a
    color: transparent
    -webkit-background-clip: text
    background-clip: text
    background-image: linear-gradient(94.72deg, v.$yellow-start -12.19%, v.$yellow-end 108.86%)

  &-item-has-children:hover > .sub-menu
    opacity: 1
    visibility: visible


@media (hover: hover) and (pointer: fine)
  .menu-trigger:hover
    .menu-trigger__dash
      background-color: v.$grey-primary

  .menu-trigger:not(.open):hover
    .menu-trigger__dash
      &:first-child
        transform: translateY(1px)
      &:last-child
        transform: translateY(-1px)

  .menu-trigger.open:hover
    transform: scale(.92)

  .contacts-link:hover
    a
      color: v.$grey-primary
    .contacts-link__icon path
      fill: v.$grey-primary
      stroke: v.$grey-primary


// Active
.menu-trigger:active
  .menu-trigger__dash
    background-color: v.$grey-primary
    transition: background-color 0


.menu-trigger:not(.open):active
  .menu-trigger__dash
    &:first-child
      transform: translateY(1px)
    &:last-child
      transform: translateY(-1px)


.menu-trigger.open:active
  transform: scale(.92)
  .menu-trigger__dash
    transition: background-color 0


.contacts-link:active
  a
    color: v.$grey-primary
    transition: none
  .contacts-link__icon path
    fill: v.$grey-primary
    stroke: v.$grey-primary
    transition: none


.menu
  &-item:not(.current-menu-item):active > a
    // color: v.$yellow-start
    color: transparent
    -webkit-background-clip: text
    background-clip: text
    background-image: linear-gradient(94.72deg, v.$yellow-start -12.19%, v.$yellow-end 108.86%)
    transition: none
      



/* Entry section */
.entry 
  width: 100%
  height: 100vh

  &-slider
    --swiper-navigation-size: 4.4rem
    width: 100%
    height: 100%
    .swiper-button-prev,
    .swiper-button-next
      width: calc( var(--swiper-navigation-size) * .68 )
      height: calc( var(--swiper-navigation-size) * .68 )
      background: v.$white
      border-radius: 50%
      transition: v.$transition-main
      &::after
        font-size: calc(var(--swiper-navigation-size) * .3)
    .swiper-button-prev
      left: 3rem
    .swiper-button-next
      right: 3rem
  &-slide
    display: flex
    justify-content: center
    align-items: center
    a
      width: 100%
      height: 100%
    img
      width: 100%
      height: 100%
      object-fit: cover
      user-select: none

  
// Entry Hover
@media (hover: hover) and (pointer: fine)
    .swiper-button-prev:hover,
    .swiper-button-next:hover
      background: v.$grey-primary
      &::after
        color: v.$white


// Entry Active
.swiper-button-prev:active,
.swiper-button-next:active
  background: v.$grey-primary
  transition: none
  &::after
    color: v.$white




/* Services section */
.services
  &__title
    margin-bottom: v.$section-py
    max-width: 92rem

.tabs 
  display: flex
  flex-wrap: wrap
  margin-bottom: 5rem

  &__btn 
    margin-bottom: 1rem

  &__btn:not(:last-child) 
    margin-right: 1rem

  &__btn.active 
    color: v.$grey-primary
    background: linear-gradient(#FBFBFB 0 0) padding-box, linear-gradient(to right, #0085FF, #5B01ED) border-box
    border: 1px solid transparent


  &-content 
    position: relative
    // overflow: hidden

  &-content__item 
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 1
    width: 100%
    opacity: 0
    transition: opacity 0.3s

  &-content__item.active 
    position: relative
    z-index: 5
    opacity: 1
  
  &-content__item h3 
    margin: 10px auto


@media (hover: hover) and (pointer: fine) 
  .tabs__btn.active:hover
    color: v.$white
    background-image: linear-gradient(93deg, rgba(0,0,255,1) 0%, rgba(184,0,255,1) 100%)

// Actives
.tabs__btn.active:active
  color: v.$white
  background-image: linear-gradient(93deg, rgba(0,0,255,1) 0%, rgba(184,0,255,1) 100%)
  
.service-item
  display: flex
  justify-content: space-between
  align-items: flex-start
  h3
    margin-bottom: 1em
  p
    font-size: 17px

  &_reverse
    flex-direction: row-reverse
    justify-content: flex-end
    .service-item__content
      padding-left: calc( 4 * v.$gutter )
      max-width: 46rem

  &__content
    width: calc( 45% - v.$gutter )
    max-width: 40rem
  &__thumb
    position: relative
    width: calc( 55% - v.$gutter )
    max-width: 60rem 
    border-radius: 2rem
    box-shadow: 0px 4px 34px 0px rgba(217, 217, 217, 1)
    overflow: hidden
    &::after
      content: ''
      display: block
      width: 100%
      height: 0
      padding-bottom: 54%
    img
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      width: 100%
      height: 100%
      object-fit: cover

  &__content-footer
    margin-top: 6rem
    .order-link
      margin-left: 1.5rem

.order-link
  display: inline-flex
  align-items: center
  color: v.$grey-primary
  font-size: 15px
  font-weight: 400
  text-decoration: underline
  &::before
    content: ''
    display: inline-block
    margin-right: 0.5em
    width: 1.27em
    height: .87em
    background: url(../img/icons/eye.svg) center no-repeat
    background-size: contain
    transition: transform v.$transition-main

@media (hover:hover) and (pointer:fine)
  .order-link:hover::before
    transform: scale(1.1)

.order-link:active::before
  transform: scale(1.1)
  transition: none




/* Advantages section */
.advantages
  --item-content-max-width: 52rem
  &__title
    max-width: 80rem
  &__box
    position: relative
    overflow: hidden
  &__box-img
    width: calc( 100% - var(--item-content-max-width) )
    position: absolute
    top: 0
    left: 0
    bottom: 0
    z-index: 0
    display: flex
    justify-content: center
    align-items: center
    img
      height: 90%
  &__item
    display: flex
    justify-content: flex-end
    padding: 5rem 2.5rem 5rem 0
    min-height: 20rem
    max-height: 24rem
    position: relative
    z-index: 1
    border-radius: 20px
    background-color: rgb(242, 243, 244, .85)
    overflow: hidden
    &::after
      content:''
      display: block
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      z-index: -1
      // opacity: 0.3
      opacity: 0
      transform: scale(.9)
      border-radius: 2rem
      background-image: linear-gradient(139deg, rgba(0,102,255,1) 0%, rgba(22,78,251,1) 31%, rgba(111,15,247,0.77) 100%)
      transition: all ease-out calc( v.$transition-main / 3 )
  &__item-content
    max-width: var(--item-content-max-width)
  &__item-title
    h3
      display: inline-flex
      align-items: baseline
      &::before
        align-self: baseline
        transform: translateY(-.15em)
        flex: none
        content: ''
        margin-right: 1em
        display: inline-block
        width: 8px
        height: 8px
        border-radius: 50%
        background-image: linear-gradient(175deg, rgba(0,102,255,1) 0%, rgba(91,1,237,1) 100%)

  &__item-descr
    font-size: 15px
    p
      margin-bottom: unset

@media (hover: hover) and (pointer: fine)
  .advantages__item:hover
    &::after
      opacity: .3
      transform: scale(1)




/* Clients section */
.clients
  &-slider
    
    width: 100%
    max-width: 1320px
    height: 100%
  &-slider-wrapper
    --swiper-navigation-size: 4.4rem
    position: relative
    height: 16rem



    .swiper-button-prev,
    .swiper-button-next
      width: calc( var(--swiper-navigation-size) * .68 )
      height: calc( var(--swiper-navigation-size) * .68 )
      color: v.$white
      background: v.$grey-light
      border-radius: 50%
      transition: v.$transition-main
      &::after
        font-size: calc(var(--swiper-navigation-size) * .3)
    .swiper-button-prev
      left: 3rem
    .swiper-button-next
      right: 3rem
      
  &-slide
    display: flex
    justify-content: center
    align-items: center
    filter: grayscale(1)
    transition: filter v.$transition-main

    img
      max-height: 14rem


@media (hover:hover) and (pointer: fine)
  .clients-slider-wrapper
    .swiper-button-prev:hover,
    .swiper-button-next:hover
        background: v.$grey-primary
      

.clients-slide:hover
  filter: grayscale(0)

    

// Actives
.clients-slide:active
  filter: grayscale(0)
  
.clients-slider-wrapper
  .swiper-button-prev:active,
  .swiper-button-next:active
      background: v.$grey-primary
  


/* Presentation section */
.presentation
  --item-padding: 4rem
  --item-radius: 3rem
  padding-bottom: 10rem
  background: v.$grey-primary
  position: relative
  overflow: hidden

  // height: 524px
  &__container
    position: relative
    z-index: 2
  &__box
    display: flex
    flex-wrap: nowrap
    gap: v.$gutter
    width: 100%
  &__item
    padding: var(--item-padding, 2rem)
    position: relative
    flex: 1
    font-size: 27px
    font-weight: 500
    line-height: 1.2
    border-radius: var(--item-radius, 3rem)
    transition: calc( v.$transition-main / 3 )
    
    &::after
      content: ''
      display: block
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      z-index: -1
      background-image: linear-gradient(168deg, rgba(65,4,189,1) 0%, rgba(48,19,107,1) 57%, rgba(27,21,40,1) 100%)
      border-radius: var(--item-radius, 3rem)
    &-badge,
    &-title
      transition: v.$transition-main
    &-badge
      position: absolute
      top: var(--item-padding, 2rem)
      right: var(--item-padding, 2rem)
      font-size: 15px
      font-weight: 500
      color: #ff9d2e
    &-icon
      margin-bottom: 2rem
      width: 6.4rem
      height: 6.4rem
      background-position: center
      background-repeat: no-repeat
      background-size: contain
      &--store-branding
        background-image: url(../img/icons/icon-store-branding.svg)
      &--beauty
        background-image: url(../img/icons/icon-beauty.svg)
      &--services
        background-image: url(../img/icons/icon-services.svg)
      &--corp-branding
        background-image: url(../img/icons/icon-corp-branding.svg)

@media (hover:hover) and (pointer:fine)
  .presentation__item:hover::after
    opacity: 0.8
  .presentation__item-title:hover
    color: #ff9d2e
  .presentation__item-badge:hover
    color: v.$grey-light



.presentation__item:active::after
  opacity: 0.8
  transition: none
.presentation__item-title:active
  color: #ff9d2e
.presentation__item-badge:active
  color: v.$grey-light





.mooving-bg
  position: absolute
  z-index: 0
  background: center no-repeat
  background-size: contain
.mooving-bg-1
  left: 37vw
  top: -30%
  width: 60%
  max-width: 85rem
  height: 163%
  max-height: 85rem
  background-image: url(../img/mooving-bg-1.svg)
  animation: mooving-bg-2  4.9s infinite linear
.mooving-bg-2
  left: 4vw
  top: -65%
  width: 60%
  max-width: 116rem
  height: 229%
  max-height: 120rem
  background-image: url(../img/mooving-bg-2.svg)
  animation: mooving-bg-1  4.9s infinite linear


@keyframes mooving-bg-1 
  0% 
    transform: rotate(354deg) translateX(0px)translateY(0px)
    animation-timing-function: linear
  32% 
    transform: rotate(354deg) translateX(-70px)translateY(160px)
    animation-timing-function: linear

  64% 
    transform: rotate(354deg) translateX(-70px)translateY(-40px)
    animation-timing-function: linear

  100% 
    transform: rotate(354deg) translateX(0px)translateY(0px)

@keyframes mooving-bg-2
  0% 
    transform: translateX(0px)translateY(0px)
    animation-timing-function: linear

  32% 
    transform: translateX(-130px)translateY(60px)
    animation-timing-function: linear

  64% 
    transform: translateX(30px)translateY(-40px)
    animation-timing-function: linear

  100% 
    transform: translateX(0px)translateY(0px)



  


/* Proposal section */

  


/* Footer section */






  











// Lazy 
// -------------------------
// .lazy 
//    width: 100%
//    height: 100%
//    position: relative
//       background-image: -o-linear-gradient(left, transparent, rgba(255, 255, 255, 0.5) 50%, transparent 100%), -o-linear-gradient(#DDD 100%, transparent 0)
//       background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(50%, rgba(255, 255, 255, 0.5)), to(transparent)), -webkit-gradient(linear, left top, left bottom, color-stop(100%, #DDD), color-stop(0, transparent))
//       background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5) 50%, transparent 100%), linear-gradient(#DDD 100%, transparent 0)
//       background-repeat: no-repeat
//       background-size: 26% 100%, cover
//       background-position: 0 0, 0 0, 0px 85px, 0px 110px
//       animation: animloader 1s linear infinite
//    img
//       visibility: hidden
//    
// 

// @-webkit-keyframes animloader 
//    0%  background-position:  0 0, 0 0, 0px 85px, 0px 110px
//    100%  background-position:  150% 0, 0 0, 0px 85px, 0px 110px
// 

// @keyframes animloader 
//    0%  background-position:  0 0, 0 0, 0px 85px, 0px 110px
//    100%  background-position:  150% 0, 0 0, 0px 85px, 0px 110px
// 

// ANIMATIONS
// ------------------------------  
// !!! Добавляется любой пустой селектор перед @import, так как после использования @include в свойствах выше директива @import смещается на один tab и некорректно отрабатывает импорт
// ! То есть, после @include следует запускать @import только после объявления нормаьного свойства
.fake-class-to-add-import-rule
  visibility: inherit

@import "animations"
@import "media-queries"
@import "gte-ie10-style"
