@use '_partials/_variables' as v
@use '_partials/_mixins' as m





// Порядок стилей:
// .containers
// .components
// ... custom code
// .displays

/* Media-queries
 --------------------------------------- */

@media (min-width: 1920.2px)
  .header
    width: 100%
    max-width: v.$site-max-width
    left: calc((100vw - v.$site-max-width) / 2)
    right: calc((100vw - v.$site-max-width) / 2)

@media (max-width: 1700px)


/* XL */
@media (max-width: 1400px)
  $index: calc(100vw / 1400) 


  .container
    &,
    &_xl,
    &_lg,
    &_md,
    &_sm
      max-width: 1140px
    &_xxl
      max-width: 100%

  .clients-slider
    max-width: 1140px

  
  // @import "../../components/form/component-xl"
  // @import "../../components/modal/component-xl"



  .d
    &-block
      &_xl
        display: block
    &-inline
      &_xl
        display: inline
    &-none
      &_xl
        display: none

  

/* LG */
@media (max-width: 1200px)
  $index: calc(100vw / 1200) 

  .container
    &,
    &_lg,
    &_md,
    &_sm
      max-width: 1010px
    &_xl
      max-width: 100%


  .clients-slider
    max-width: 1010px

  // @import "../../components/form/component-lg"
  // @import "../../components/modal/component-lg"

  h1
    font-size: 59px
  h2
    font-size: 47px


  $menu-trigger-width: 40px
  $menu-item-lv1-max-width: 28rem
  .menu
    &-item > a
      font-size: 30px 
    &>.menu-item
      max-width: $menu-item-lv1-max-width

  
  .sub-menu
    left: $menu-item-lv1-max-width
    .menu-item > a
      font-size: 16px

  .menu-trigger
    width: $menu-trigger-width
    &__dash
      &:first-child
        width: calc( $menu-trigger-width * .8 )
      &:nth-child(2)
        width: calc( $menu-trigger-width * .68 )
      &:last-child
        width: $menu-trigger-width
    

  /* Advantages section */
  .advantages
    --item-content-max-width: 65rem
    &__item-title
      width: 28rem




  // Presentation section
  // .presentation
  //   --item-padding: 2.8rem
  //   --item-radius: 1.5rem
  //   padding-bottom: 10rem
  //   &__item
  //     padding: var(--item-padding, 2.8rem)
  //     font-size: 24px
  //     border-radius: var(--item-radius, 1.5rem)
  //     &::after
  //       border-radius: var(--item-radius, 1.5rem)
  //     &-icon
  //       margin-bottom: 2rem
  //       width: 5rem
  //       height: 5rem




  /* Proposal section */
  .proposal
    &-form__inner
      align-content: flex-start
    // &-form__part-fields
    //   margin-right: 8rem
    //   width: 49%
    &-form__action 
      font-size: 14px
      // &-title
      //   font-size: 22px
      

    .d
      &-block
        &_lg
          display: block
      &-inline
        &_lg
          display: inline
      &-none
        &_lg
          display: none




// SERVICES - PAGE
.services-grid,
.gallery
  &__item
    height: 26.3rem









/* MD */
@media (max-width: 992px)
  $index: calc(100vw / 992) 
  .scroll-hidden
    padding-right: 0px
    overflow: hidden

  .container
    &,
    &_md,
    &_sm
      max-width: 720px
    &_lg
      max-width: 100%


  .clients-slider
    max-width: 720px

  
  h1
    font-size: 49px
  h2
    font-size: 45px


  /* Tabs */
  .tabs 
    margin-bottom: 4rem


  .service-item
    flex-direction: column-reverse
    align-items: center
    &__thumb
      margin-bottom: 4rem
      width: 100%
      max-width: 70rem
    &__content
      display: flex
      width: 100%
      max-width: none
    &__title
      margin-right: calc( 2 * v.$gutter )
      width: 25%
      flex: none

  .service-item_reverse
    .service-item__content
      padding-left: 0
      display: flex
      width: 100%
      max-width: none
  



  /* Header */
  .header-menu
    width: 100%

    &__header
      padding-left: 6rem
      padding-right: 6rem

    &__logo
      display: block

    &__body
      padding-top: 2rem





  /* Entry section */
  .entry 
    width: 100%
    height: 77vw
    max-height: 100vh

  /* Header menu */
  .menu-trigger
    &.open
      right: unset

  .menu
    &-item > a
      font-size: 28px





  /* Advantages section */
  .advantages
    --item-content-max-width: 40rem
    &__box
      overflow: visible
      &-img
        transform: translateX(-42px)
        width: auto
    &__item-content
      display: block





  // Presentation section
  // .presentation
  //   &__box
  //     flex-wrap: wrap
  //   &__item
  //     min-width: 33%

  // .mooving-bg-1
  //   top: -15%
  //   width: 90%
  //   height: 250%
  // .mooving-bg-2
  //   top: -40%
  //   width: 90%
  //   height: 330%




  /* Proposal section */
  .proposal
    &-form__inner
      flex-direction: column
    &-form
      margin-inline: auto
      max-width: 60rem
    &-form__part
      width: 100%
    &__checkbox-wrap
      margin-top: 1rem
      margin-bottom: 2rem



  /* Footer section */
  .footer
    &-top
      padding-bottom: unset
    &-top__row
      flex-wrap: wrap
    &-top__col
      margin-bottom: calc( v.$section-py / 2 )
      width: 50%





  // SERVICES - PAGE
  .services-grid-wrap
    margin-inline: calc( var(--grid-item-m-inline) * (-1) )
    // display: flex
  .services-grid,
  .gallery
    margin-inline: var(--grid-item-m-inline)
    // flex-direction: column
    // width: 50%
    // flex: 1

    &__item
      // flex: none
      // margin-inline: unset
      width: calc( 100% / 2 - var(--grid-item-m-inline) * 2)
      min-width: 29%
      max-width: none
      height: 27rem 
      &:hover
        max-width: none


  // Sevice-dynamic
  .service-dynamic
    .service-columns 
      columns: unset

         
        


  // @import "../../components/form/component-md"
  // @import "../../components/modal/component-md"

  .d
    &-block
      &_md
        display: block
    &-flex
      &_md
        display: flex
    &-inline
      &_md
        display: inline
    &-none
      &_md
        display: none

  

/* SM */
@media (max-width: 768px)
  $index: calc(100vw / 768) 
  // $gutter: 12px
  html
    font-size: 9px
  .container
    &,
    &_sm
      max-width: 540px
    &_md
      max-width: 100%


  .clients-slider
    max-width: 540px

  h1
    font-size: 39px
  h2
    font-size: 39px


  // @import "../../components/form/component-sm"
  // @import "../../components/modal/component-sm"


  .contacts-link--phone
    display: none
  

  .header-menu
    &__header,
    &__body,
    &__footer
      padding-left:4rem
      padding-right: 4rem
    &__footer
      .contacts-link
        display: flex

  .menu-trigger
    --burger-item-translate-y: 570%
  
  $menu-item-lv1-max-width: 22rem
  .menu
    &-item > a
      font-size: 24px
    &>.menu-item
      max-width: $menu-item-lv1-max-width

  .sub-menu
    padding-top: unset
    left: $menu-item-lv1-max-width

  

  .advantages
    --item-content-max-width: 37rem
    &__box-img
      display: none
    &__item
      padding: 2.5rem 2.5rem 2.5rem 0
      max-height: none
      &-content
        max-width: none
    &__item-title
      h3
        margin-bottom: 0.75em
        // font-size: 20px
    &__item-descr
      font-size: 15px
      p
        font-size: 15px



  /* FAQ section */
  // .faq


  .question
    &__btn
      font-size: 20px
    &__content
      font-size: 15px




  /* Proposal section */
  .proposal
    &__title
      h2
        margin-bottom: 2rem

    &-form__inner
      position: relative
      max-height: none
      flex-wrap: nowrap
    &-form__part-fields
      // order: 2
      margin-right: unset
      
      min-height: auto
    // &-form__submit-wrap
      // order: 3
      // position: absolute
      // right: -3rem
      // bottom: -15rem
    // &-form__submit
    //   transform: rotate(-10deg)
    &-form__action 
      // order: 1
      margin-bottom: 3rem
      padding-top: 1.5rem
      width: auto
      max-width: none
      p
        max-width: none

        
    .form-personal-data .form-label-checkbox
      display: inline








  // SERVICES - PAGE
  .services-grid,
  .gallery
    --grid-item-m-inline: .75rem
    margin-inline: var(--grid-item-m-inline)
    &__item
      width: calc( 100% / 2 - var(--grid-item-m-inline) * 2)
      min-width: 31%
      height: 23.5rem  


  .services-grid
    &__item
      &-title
        h3
          font-size: 20px
      &-text
        font-size: 15px
      &-btn
        font-size: 14px


  .service-dynamic
    // Table rotated
    .table_rotated
      tbody
        flex-direction: column
      tr
        width: 100%
        &:not(:last-child)
          margin-bottom: calc( var(--col-gap, 1.5rem) * 2 )
          
    // Table rotated-2
    .table_rotated-2
      tbody
        flex-direction: column
      tr
        width: 100%
        &:not(:last-child)
          margin-bottom: calc( var(--col-gap, 1.5rem) * 2 )
          border-right: solid 1px lighten(v.$grey-light, 20%)

          
    // Table rotated-3
    .table_rotated-3
      tbody
        flex-direction: column
      tr
        width: 100%
        &:not(:last-child)
          margin-bottom: calc( var(--col-gap, 1.5rem) * 2 )
          border-right: none






  // Modal-form
  .modal-form .form-label-checkbox
    display: inline





  .d
    &-block
      &_sm
        display: block
    &-inline
      &_sm
        display: inline
    &-none
      &_sm
        display: none

  

/* XS */
@media (max-width: 575.98px)
  $index: calc(100vw / 576) 
  html
    font-size: 8px
  .container
    max-width: 410px
    &_sm
      max-width: 100%

  // Dynamic-content-settings
  .dynamic-content
    font-size: 17px
    p
      font-size: 17px


  .clients-slider
    max-width: 410px

  h1
    font-size: 30px
  h2
    font-size: 30px


  @import "../../components/buttons/component-xs"
  // @import "../../components/form/component-xs"
  // @import "../../components/modal/component-xs"

  .breadcrumbs
    font-size: 14px

  .sub-menu > .menu-item > a 
    font-size: 16px

  // vars
  $menu-trigger-offset-r: v.$gutter
  $menu-trigger-width: 35px

  .menu-trigger
    --burger-item-translate-y: 450%
    width: $menu-trigger-width
    height: 18px
    &__dash
      &:first-child
        width: calc( $menu-trigger-width * .8 )
      &:nth-child(2)
        width: calc( $menu-trigger-width * .68 )
      &:last-child
        width: $menu-trigger-width


  .header
    &__menu-trigger
      right: $menu-trigger-offset-r

  .header-menu
    &__header
      box-shadow: 0 0 5px 1px rgba(0, 0, 0, .1)
    &__footer
      display: flex
      flex-direction: row
      align-items: center
      box-shadow: 0 0 5px 1px rgba(0, 0, 0, .1)




  .menu>.menu-item
    max-width: none
    & > a
      max-width: 10em
  .sub-menu
    position: static
    &>.menu-item > a
      font-size: 16px


  .menu-mobile-collapse

    &>.menu-item-has-children>a
      position: relative
    &>.menu-item-has-children>a:before,
    &>.menu-item-has-children>a:after
      content: ""
      display: inline-block
      position: absolute
      top: 1em
      width: .5em
      height: 2px
      background: v.$grey-primary
      transition: transform v.$transition-main, background-color v.$transition-main
    &>.menu-item-has-children>a:before 
      right: -0.1em
      transform: rotate(45deg)
    &>.menu-item-has-children>a:after 
      right: -.365em
      transform: rotate(-45deg)

    .sub-menu
      padding: 0
      max-height: 0px
      transition: v.$transition-main
      overflow: hidden
      opacity: 1
      visibility: visible

    .menu-item:not(.current-menu-item):active > a:before,
    .menu-item:not(.current-menu-item):active > a:after
      background: v.$yellow-start

    // open
    &>.menu-item.menu-item-has-children.open
      &>a
        color: transparent
        -webkit-background-clip: text
        background-clip: text
        background-image: linear-gradient(94.72deg, v.$yellow-start -12.19%, v.$yellow-end 108.86%)
      &>a:before,
      &>a:after
        background: v.$yellow-start
      &>a:before
        transform: rotate(-45deg)
      &>a:after
        transform: rotate(45deg)


  // Hovers
  .menu-mobile-collapse
    .menu
      &-item:not(.current-menu-item):hover > a
        color: v.$grey-primary
        background-clip: unset
        background-image: none

      &-item-has-children:hover > .sub-menu
        opacity: 1
        visibility: visible

  // Actives
  .menu
    &-item:not(.current-menu-item):active > a
      color: v.$yellow-start



  /* Tabs */
  .tabs 
    margin-bottom: 3rem
    flex-wrap: nowrap
    justify-content: flex-start
    overflow-x: auto
  
  // Че за херь
  // .tabs::-webkit-scrollbar 
  //   height: 0
  //   width: 0
  

  .tabs__btn 
    margin-bottom: 0
    flex: none


 

  .service-item
    &__content
      display: block
    &__title
      width: auto
      max-width: none
      
  .service-item_reverse
    .service-item
      &__content
        display: block
      &__title
        width: auto
        max-width: none





  .advantages
    --item-content-max-width: 28rem
    &__item
      padding: 1.5rem 1.5rem 1.5rem 0
    &__item-title
      h3
        margin-bottom: 0.5em

  



  /* Clients section */
  .clients
    &-slider-wrapper
      height: 30rem
      .swiper-button-prev
        left: 1.5rem
      .swiper-button-next
        right: 1.5rem

    &-slider
      height: 100%
    &-slide
      display: flex
      justify-content: center
      align-items: center
      filter: grayscale(1)
      transition: filter v.$transition-main





  // Presentation section
  // .presentation
  //   &__item
  //     width: 100%
  //     min-width: auto
  //     flex: none
  //   &__item-icon
  //     width: 4rem
  //     height: 4rem
  //   &__item-title
  //     font-size: 18px





  /* Proposal section */
  .proposal
    &-form__action-title
      font-size: 17px
    &-form-wrap
      padding-bottom: unset
    &-form__submit-wrap
      position: static
  .submit-btn-align-right-xs
    text-align: right





  /* Footer section */
  .footer
    &-top__col
      margin-bottom: 2rem
      width: 100%
      &-contacts
        .footer-menu
          margin-bottom: 4rem
    &-top__col-title
      span
        margin-bottom: 0.5em
      



  .js-footer-collapse
    .footer-menu
      max-height: 0px
      transition: v.$transition-main
      overflow: hidden
      opacity: 1
      visibility: visible
    span
      position: relative
      padding-right: 1em
      display: block
      max-width: 32rem
    span:before,
    span:after
      content: ""
      display: inline-block
      position: absolute
      top: .6em
      width: .5em
      height: 2px
      background: v.$white
      transition: transform v.$transition-main, background-color v.$transition-main
    span:before
      right: .3em
      transform: rotate(45deg)
    span:after
      right: 0em
      transform: rotate(-45deg)

    span:active
      color: v.$yellow-start
    span:active::before,
    span:active::after
      background: v.$yellow-start


  // open
  .js-footer-collapse.open
    span
      color: v.$yellow-start
    span::before,
    span::after
      background: v.$yellow-start
    span::before
      transform: rotate(-45deg)
    span::after
      transform: rotate(45deg)




  // SERVICES - PAGE
  .services-grid-wrap
    margin-inline: unset
    display: block
  .services-grid,
  .gallery
    --grid-item-m-inline: 1rem
    margin-inline: unset
    width: 100%
    &__item
      width: 100%
      height: 40rem  
      flex: none

 
  .gallery
    &__item-img::after
      background-size: 8rem 8rem


  // Sevice-dynamic
  .service-dynamic
    .service-columns 
      p
        font-size: 17px
    
    .table
      font-size: 14px
    






  /* Modal form */
  .order-modal
    &__title
      font-size: 18px
    &__subtitle
      display: none




  .d
    &-block
      &_xs
        display: block
    &-inline
      &_xs
        display: inline
    &-none
      &_xs
        display: none


/* XS - 480 */
@media (max-width: 479.98px)
  $index: calc(100vw / 480) 
  // @import "../../components/form/component-xs"


/* XXS */
// ИНДЕКС ДЛЯ ШРИФТОВ ИСПОЛЬЗУЕМ ЗДЕСЬ
@media (max-width: 413.98px)
  $index: calc(100vw / 414) 
  body,
  p,
  .dynamic-content,
  .dynamic-content p
    font-size: calc(17 * $index)
  .container
    max-width: 100%

  h1
    font-size: 28px
  h2
    font-size: 28px

  @import "../../components/buttons/component-xxs"
  // @import "../../components/form/component-xxs"
  // @import "../../components/modal/component-xxs"

  // Breadcrumbs
  .breadcrumbs
    font-size: calc( 14 * $index )

  .sub-menu .menu-item > a 
    font-size: calc( 14 * $index )

  .service-item
    h3
      font-size: calc(24 * $index) 
    p
      font-size: calc(17 * $index) 


  .advantages
    --item-content-max-width: 28rem
    &__item-title
      h3
        margin-bottom: 0.5em
        font-size: calc(24 * $index) 
    &__item-descr p
      font-size: calc(17 * $index)


  
  /* Clients section */
  .clients
    &-slider-wrapper
      height: calc(240 * $index) 


  /* FAQ section */
  // .faq


  .question
    &__btn
      font-size: calc( 20 * $index )
    &__content
      font-size: calc( 15 * $index )




  /* Proposal section */
  .proposal
    &-form__action 
      font-size: calc( 17 * $index )
      &-title
        font-size: calc( 17 * $index )





  /* Footer section */
  .footer
    .menu-item
      &>a,
      &>span
        font-size: calc( 16 * $index )
    &-top__col-title span
      font-size: calc( 20 * $index )
    &__copy 
      font-size: calc( 15 * $index )

  .js-footer-collapse span
    max-width: none




  // SERVICES - PAGE
  .services-grid,
  .gallery
    &__item
      margin-inline: auto
      max-width: 320px
      height: calc( 275 * $index ) 
      max-height: 275px



  .services-grid
    &__item-title h3
      font-size: calc( 20 * $index ) 
    &__item-text
      font-size: calc( 15 * $index ) 
    &__item-btn 
      font-size: calc( 14 * $index ) 


  // Sevice-dynamic
  .service-dynamic
    .service-columns 
      p
        font-size: calc( 17 * $index ) 
    
    .table
      font-size: calc( 14 * $index ) 
      td,
      th
        padding: 1rem 1.2rem


      &.table_col-mobile
        tr
          flex-direction: column
          align-items: stretch
        thead
          background: lighten(v.$highlight, 15%)
          th
            font-size: calc( 13 * $index ) 
            font-weight: 500
            text-transform: uppercase
          th:last-child
            background: lighten(v.$highlight, 20%)
          
        tbody tr:nth-child(2n),
        tbody tr:nth-child(2n+1)
          background: lighten(v.$highlight, 15%)
        tbody td:last-child
          width: 100%
          text-align: left
          background: lighten(v.$highlight, 20%)


          
    .table_2col
      td:last-child 
        max-width: 15rem
          
    .table_2col.table_col-mobile
      td:last-child 
        max-width: none
 
    



  .d
    &-block
      &_xxs
        display: block
    &-inline
      &_xxs
        display: inline
    &-none
      &_xxs
        display: none





@media (max-width: 359.99px)
  $index: calc(100vw / 360) 
  body,
  p,
  .dynamic-content,
  .dynamic-content p
    font-size: calc(17 * $index)
  
  h1
    font-size: calc($index * 28)
  h2
    font-size: calc($index * 28)
  h3
    font-size: calc($index * 24)

  
  
  // Breadcrumbs
  .breadcrumbs
    font-size: calc( 14 * $index )

  .sub-menu .menu-item > a 
    font-size: calc( 12 * $index )






  .advantages
    --item-content-max-width: 24rem
    &__box-img
      width: 16rem
    &__item-title
      h3
        font-size: calc(24 * $index) 
    &__item-descr
      font-size: calc(17 * $index) 
      p
        font-size: calc(17 * $index) 



  /* FAQ section */
  // .faq


  .question
    &__btn
      font-size: calc( 20 * $index )
    &__content
      font-size: calc( 15 * $index )


  /* Proposal section */
  .proposal
    &-form__action 
      font-size: calc( 17 * $index )
      &-title
        font-size: calc( 17 * $index )

  .form-personal-data,
  .modal-form .form-checkbox-wrap
    font-size: calc(14 * $index) 

  /* Footer section */
  .footer
    .menu-item
      &>a,
      &>span
        font-size: calc( 16 * $index )
    &-top__col-title span
      font-size: calc( 20 * $index )
    &__copy 
      font-size: calc( 15 * $index )




  // SERVICES - PAGE
  .services-grid
    &__item
      &-title
        h3
          font-size: calc( 20 * $index )
      &-text
        font-size: calc( 15 * $index )
      &-btn
        font-size: calc( 14 * $index )

  // Sevice-dynamic
  .service-dynamic
    .service-columns 
      p
        font-size: calc( 17 * $index ) 
    
    table,
    table.table_yellow 
      font-size: calc( 14 * $index ) 


  /* Modal form */
  .order-modal
    &__title
      font-size: calc( 18 * $index )
