// SASS находит файл даже без полного пути
@import '_partials/variables'
  
// VARIABLES
$btn-fz: 15px
$btn-padding-y: 1.04em
$btn-padding-x: 3.04em

$btn-ff: v.$ff-primary

// .btn_primary
// $btn-prim-bg: v.$primary-color
// $btn-prim-color: v.$white
// $btn-prim-border-color: $btn-prim-bg

// $btn-prim-bg-hover: lighten($btn-prim-bg, 10%)

// $btn-prim-bg-active: $btn-prim-bg



// .btn_secondary
$btn-second-bg: linear-gradient(180deg, v.$yellow-start 0%, v.$yellow-end 98%)
$btn-second-color: v.$white
// $btn-second-border-color: $btn-second-bg

// $btn-second-bg-hover: lighten($btn-second-bg, 10%)

// $btn-second-bg-active: $btn-second-bg

// .btn_rounded
$btn-radius: .5em



// STYLES
.btn
  padding: $btn-padding-y $btn-padding-x
  display: inline-block
  text-align: center
  font-family: $btn-ff
  font-size: $btn-fz
  line-height: 1
  white-space: nowrap
  transition: v.$transition-main

  // &_primary
  //   color: $btn-prim-color
  //   background: $btn-prim-bg


  &_secondary
    color: $btn-second-color
    background-image: $btn-second-bg
    background-size: 100% 200%
    background-position-y: 100% 
    box-shadow: 0px 4px 24px 0px transparentize(v.$yellow-end, .5)
  
  // &_fluid
  //   width: 100%
  &_rounded
    border-radius: $btn-radius

  &_outline
    color: v.$grey-primary
    background-color: v.$white
    border: solid 1px transparent
    background: linear-gradient(#FBFBFB 0 0) padding-box, linear-gradient(90deg, v.$grey-primary 0%, v.$grey-primary 100%) border-box

  &_circle
    width: 24.4rem
    height: 24.4rem
    padding: 1.5em
    font-size: 22px
    font-weight: 400
    color: $btn-second-color
    background-image: $btn-second-bg
    box-shadow: 0px 4px 24px 0px rgba(244,114,19,0.3)
    border-radius: 50%



    

@media (hover: hover) and (pointer: fine)
  // .btn_primary
  //   &:hover
  //     background: $btn-prim-bg-hover

  .btn_outline:hover
    color: v.$yellow-end
    // background-image: linear-gradient(90deg, #fe672e 0%, #c90678 100%)
    background: linear-gradient(#FBFBFB 0 0) padding-box, linear-gradient(90deg, #fe672e 0%, #c90678 100%) border-box
    border-color: transparent
  .btn_secondary
    &:hover
      // background-color: v.$secondary-color
      // background-image: none
      // color: v.$grey-primary
      // transition: none
      background-position-y: 30% 
  .btn_circle:hover
      background: linear-gradient(54deg, #f47213 0%, #f47213 98%)

      

// .btn_primary
//   &:active
//     background: $btn-prim-bg-active

// .btn_secondary
//   &:active
//     background: $btn-second-bg-active




// Actives
.btn_outline:active
  color: v.$yellow-end
  // background-image: linear-gradient(93deg, rgba(0,0,255,1) 0%, rgba(184,0,255,1) 100%)
  // background-image: linear-gradient(90deg, #fe672e 0%, #c90678 100%)
  background: linear-gradient(#FBFBFB 0 0) padding-box, linear-gradient(90deg, #fe672e 0%, #c90678 100%) border-box
  border-color: transparent
  transition: none

.btn_secondary:active
  // background-color: v.$secondary-color
  background-position-y: 30% 
  // background-image: none
  // color: v.$grey-primary
  transform: translateY(1px)
  transition: none
    



// NAMES

// &_secondary
// &_success
// &_warning

// &_outline

// &_lg     -- к примеру большего шрифта, следовательно и отступов и радиуса
// По умолчани кнопка .btn размера _md
// &_sm

// &_wide   -- 100%
// &_wide-md   -- -- к примеру с ограниением по ширине
// &_wide-sm   -- 100%

// &_type-file