section.section.section_bg-grey.advantages
  .container 
    .section-title.advantages__title
      h2 
        |Мы выполняем свою работу с 
        span.text-accent любовью

    .advantages__box 
      .advantages__box-img
        //- img(src="img/adv.png", alt="")
        img(src="img/adv-line.png", alt="")

      .advantages__item
        .advantages__item-content
          .advantages__item-title.mark-before 
            h3 Удобно и профессионально
          .advantages__item-descr 
            p У нас есть собственная дизайн-студия в Москве. В нашем дизайн бюро работают эксперты по корпоративному и товарному брендингу, за плечами которых множество успешных проектов. Каждый наш проект не только привлекателен внешне, но и, в первую очередь, — эффективен.

      .advantages__item
        .advantages__item-content
          .advantages__item-title.mark-before 
            h3 Эффективно
          .advantages__item-descr 
            p Наша цель — это решение стратегических задач по привлечению внимания к бренду. Мы создаём бренды с хорошим настроением, что становится основанием для создания устойчивой и длительной связи с потребителями.Эффективно

      .advantages__item
        .advantages__item-content
          .advantages__item-title.mark-before 
            h3 Всё-в-одном
          .advantages__item-descr 
            p Наша команда обеспечивает комплексный подход к реализации маркетинговых задач. Мы ведём проекты от разработки идеи бренда и создания коммуникативной стратегии — до практической реализации и создания дизайн-макетов.

      .advantages__item
        .advantages__item-content
          .advantages__item-title.mark-before 
            h3 Наши кейсы
          .advantages__item-descr 
            p Яркими иллюстрациями профессионализма и креативности нашей команды служат успешные работы, с которыми Вы можете ознакомиться, скачав нашу презентацию ниже или перейдя в раздел «Портфолио».


