nav
  ul.sidebar-menu

    li.menu-item.lv1.menu-item-has-children
      span.sidebar-menu-btn Разработка логотипов

      ul.sub-menu.lv2
        li.menu-item.lv2
          a(href="#") Пункт меню
        li.menu-item.lv2
          a(href="#") Пункт меню
        li.menu-item.lv2
          a(href="#") Пункт меню
        li.menu-item.lv2 
          a(href="#") Пункт меню
        li.menu-item.lv2
          a(href="#") Пункт меню

    li.menu-item.lv1.menu-item-has-children
      span.sidebar-menu-btn Разработка логотипов

      ul.sub-menu.lv2
        li.menu-item.lv2
          a(href="#") Пункт меню
        li.menu-item.lv2
          a(href="#") Пункт меню
        li.menu-item.lv2
          a(href="#") Пункт меню
        li.menu-item.lv2 
          a(href="#") Пункт меню
        li.menu-item.lv2
          a(href="#") Пункт меню

    li.menu-item.lv1.menu-item-has-children
      span.sidebar-menu-btn Разработка логотипов

      ul.sub-menu.lv2
        li.menu-item.lv2
          a(href="#") Пункт меню
        li.menu-item.lv2
          a(href="#") Пункт меню
        li.menu-item.lv2
          a(href="#") Пункт меню
        li.menu-item.lv2 
          a(href="#") Пункт меню
        li.menu-item.lv2
          a(href="#") Пункт меню

