footer.footer 
  .footer-top
    .container
      .row.footer-top__row
        .col-3.footer-top__col.js-footer-collapse
          .footer-top__col-title
            span Портфолио
          nav
            ul.footer-menu
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
        .col-3.footer-top__col.js-footer-collapse
          .footer-top__col-title
            span Услуги
          nav
            ul.footer-menu
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
        .col-3.footer-top__col.js-footer-collapse
          .footer-top__col-title
            span О нас 
          nav
            ul.footer-menu
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
        .col-3.footer-top__col.footer-top__col-contacts
          .footer-top__col-title
            span Контакты
          nav
            ul.footer-menu
              li.footer-menu-item.lv1
                a(href="tel:+375333305935") +375 (33) 330-59-35
              li.footer-menu-item.lv1
                a(href="mailto:info@namez.by") info@namez.by
              li.footer-menu-item.lv1
                span г. Брест, ул Янки Купалы 109Б
          .footer__logo 
            a(href="#") 
              img(src="img/logo.svg", alt="Логотип")

  .footer-bottom
    .container
      .footer-bottom__row 
        .footer__copy 
          |&copy; 2024 NAMEZ 
          span.d-none_xs - пожалуй лучшие в мире брендинга
        .footer__social 
          a.footer__social-link.footer__social-link--vk(href="#", target="_blank", title="ВКонтакте") 
          a.footer__social-link.footer__social-link--tg(href="#", target="_blank", title="Телеграм") 





      //- ПОЧТА info@namez.by




//- MODAL-FORM
//- .modal.modal-message.message_success#formAlert.shown(style="display: flex;")
.modal.modal-message#formAlert
  .modal__inner.modal-message__inner
    button.modal__close.modal-message__close

    .modal__content.modal-message__content
      .modal-message__icon
        <svg width="75" height="75" viewBox="0 0 75 75" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_16_667)">
          <path d="M37.5 0C30.0832 0 22.833 2.19934 16.6661 6.31989C10.4993 10.4404 5.69282 16.2971 2.85453 23.1494C0.016248 30.0016 -0.726377 37.5416 0.720569 44.8159C2.16751 52.0902 5.73904 58.772 10.9835 64.0165C16.228 69.261 22.9098 72.8325 30.1841 74.2794C37.4584 75.7264 44.9984 74.9838 51.8506 72.1455C58.7029 69.3072 64.5596 64.5007 68.6801 58.3339C72.8007 52.167 75 44.9168 75 37.5C74.9892 27.5577 71.0348 18.0257 64.0045 10.9955C56.9743 3.96522 47.4423 0.0108566 37.5 0V0ZM37.5 71.4844C30.7785 71.4844 24.208 69.4912 18.6193 65.757C13.0306 62.0227 8.67475 56.7151 6.10255 50.5053C3.53035 44.2954 2.85735 37.4623 4.16864 30.87C5.47994 24.2777 8.71663 18.2222 13.4694 13.4694C18.2222 8.71662 24.2777 5.47992 30.87 4.16863C37.4623 2.85733 44.2954 3.53033 50.5053 6.10253C56.7151 8.67473 62.0227 13.0306 65.757 18.6193C69.4912 24.208 71.4844 30.7785 71.4844 37.5C71.4735 46.5099 67.8896 55.1476 61.5186 61.5186C55.1477 67.8895 46.5099 71.4735 37.5 71.4844Z" fill="#CEA26F"></path>
          <path d="M51.5043 24.8203L29.5433 46.418L23.5375 40.0957C23.2136 39.7705 22.7754 39.5849 22.3166 39.5785C21.8577 39.5721 21.4145 39.7454 21.0817 40.0614C20.7489 40.3774 20.5528 40.811 20.5354 41.2696C20.5181 41.7281 20.6807 42.1753 20.9886 42.5156L28.225 50.1328C28.3856 50.3014 28.5781 50.4364 28.7914 50.5299C29.0046 50.6235 29.2343 50.6737 29.4671 50.6777H29.4964C29.9568 50.6774 30.3986 50.4964 30.7269 50.1738L53.9593 27.3223C54.124 27.1603 54.2551 26.9675 54.3453 26.7548C54.4354 26.5422 54.4828 26.3138 54.4847 26.0829C54.4866 25.8519 54.443 25.6228 54.3564 25.4087C54.2698 25.1946 54.1418 24.9996 53.9798 24.835C53.8179 24.6703 53.625 24.5391 53.4124 24.449C53.1997 24.3589 52.9714 24.3115 52.7404 24.3096C52.5095 24.3077 52.2804 24.3513 52.0663 24.4379C51.8522 24.5245 51.6572 24.6525 51.4925 24.8145L51.5043 24.8203Z" fill="#CEA26F"></path>
          </g>
          <defs>
          <clipPath id="clip0_16_667">
          <rect width="75" height="75" fill="white"></rect>
          </clipPath>
          </defs>
        </svg>
      .modal-message__title 
        
      .modal-message__subtitle 
        
  




//- MODAL-FORM
//- .modal.order-modal#callback-modal
//-   .modal__inner.order-modal__inner
//-     button.modal__close 

//-     .modal__content

//-       .order-modal__title 
//-         p Введите ваши данные и кратко опишите задачу.
//-       .order-modal__subtitle 
//-         p Мы подготовим коммерческое предложение и свяжемся с вами для дальнейшего обсуждения.
  

//-       .modal-form-wrap 
//-         form.form.modal-form
//-           .modal-form__inner


//-             .form-group.form-group_float-label 
//-               input#firstName2.form-control(type="text", name="firstName", required)
//-               label.form-label(for="firstName2") Ваше имя

//-             .form-group.form-group_float-label
//-               input#phone2.form-control(type="tel", name="phone", required, data-mask)
//-               label.form-label(for="phone2") Ваш телефон

//-             .form-group.form-group_float-label
//-               input#email2.form-control(type="email", name="email")
//-               label.form-label(for="email2") E-mail

//-             .form-group.form-group_float-label 
//-               textarea#msg2.form-control-message(name="msg", cols="30", rows="4")
//-               label.form-label(for="msg2") Комментарий 
              

//-             .form-checkbox-wrap
//-               input#checkbox2.form-checkbox(type="checkbox", name="checkbox1", value="true")
//-               label.form-label-checkbox(for="checkbox2") Я даю согласие на обработку моих персональных данных
    

//-             .form-fgoup
//-               button.form-submit.btn.btn_secondary.btn_rounded.modal-form__submit(type="button") Отправить




