footer.footer 
  .footer-top
    .container
      .row.footer-top__row
        .col-3.footer-top__col.js-footer-collapse
          .footer-top__col-title
            span Портфолио
          nav
            ul.footer-menu
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
        .col-3.footer-top__col.js-footer-collapse
          .footer-top__col-title
            span Услуги
          nav
            ul.footer-menu
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
        .col-3.footer-top__col.js-footer-collapse
          .footer-top__col-title
            span О нас 
          nav
            ul.footer-menu
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
        .col-3.footer-top__col.footer-top__col-contacts
          .footer-top__col-title
            span Контакты
          nav
            ul.footer-menu
              li.footer-menu-item.lv1
                a(href="tel:+375333305935") +375 (33) 330-59-35
              li.footer-menu-item.lv1
                a(href="mailto:info@namez.by") info@namez.by
              li.footer-menu-item.lv1
                span г. Брест, ул Янки Купалы 109Б
          .footer__logo 
            a(href="#") 
              img(src="img/logo.svg", alt="Логотип")

  .footer-bottom
    .container
      .footer-bottom__row 
        .footer__copy 
          |&copy; 2024 NAMEZ 
          span.d-none_xs - пожалуй лучшие в мире брендинга
        .footer__social 
          a.footer__social-link.footer__social-link--vk(href="#", target="_blank", title="ВКонтакте") 
          a.footer__social-link.footer__social-link--tg(href="#", target="_blank", title="Телеграм") 


#orderBtn.order-btn-fixed.order-btn-fixed_hidden.btn.btn_secondary.btn_rounded.js-modal-trigger(data-target="callback-modal", data-duration="350") Рассчитать стоимость
      



      //- ПОЧТА info@namez.by




    
.modal.order-modal#callback-modal
  .modal__inner
    button.modal__close 

    .modal__content
      .modal__header
        .modal__title 
          p Введите ваши данные и кратко опишите задачу.
        .modal__subtitle 
          p Мы подготовим коммерческое предложение и свяжемся с вами для дальнейшего обсуждения.
      .modal__body

        .modal-form-wrap 
          form.form.modal-form
            .modal-form__inner


              .form-group.form-group_float-label 
                input#firstName2.form-control(type="text", name="firstName", required)
                label.form-label(for="firstName2") Ваше имя

              .form-group.form-group_float-label
                input#phone2.form-control(type="tel", name="phone", required, data-mask)
                label.form-label(for="phone2") Ваш телефон

              .form-group.form-group_float-label
                input#email2.form-control(type="email", name="email")
                label.form-label(for="email2") E-mail

              .form-group.form-group_float-label 
                textarea#msg2.form-control-message(name="msg", cols="30", rows="4")
                label.form-label(for="msg2") Комментарий 
                

              .form-checkbox-wrap
                input#checkbox2.form-checkbox(type="checkbox", name="checkbox1", value="true")
                label.form-label-checkbox(for="checkbox2") Я даю согласие на обработку моих персональных данных
      

              .form-fgoup
                button.form-submit.btn.btn_secondary.btn_rounded.modal-form__submit(type="button") Отправить




