footer.footer 




//- // MODAL
//- .modal#callbackModal
//-   .modal__inner
//-     button.modal__close 

//-     .modal__content
//-       .modal__header
//-         h2 This is modal 1 heading
//-       .modal__body
//- // /MODAL
//- |
//- // MODAL
//- .modal#formModal
//-   .modal__inner
//-     button.modal__close 

//-     .modal__content
//-       .modal__header
//-         h2 This is modal 1 heading
//-       .modal__body
//-         form.form(enctype="multipart/form-data" name="" data-action="../php/send-order.php").order__form

//-           fieldset.form-field 
//-             legend.form-field__title Personal Data


//-               .form-group 
//-                 label.form-label(for="firstName2") First name
//-                 input#firstName2.form-control(type="text", name="firstName2", placeholder="Enter your first name", data-required="") 

          
//-               .form-group 
//-                 label.form-label(for="lastName2") Last name
//-                 input#lastName2.form-control(type="text", name="lastName2", placeholder="Enter your last name") 


//-           fieldset.form-field 
//-             legend.form-field__title Сontact information

//-               .form-group
//-                 label.form-label(for="phone2") Phone
//-                 input#phone2.form-control(type="tel", name="phone2", placeholder="Enter your phone number", data-required="", data-mask)
            
//-               .form-group
//-                 label.form-label(for="email2") Email
//-                 input#email2.form-control(type="email", name="email2", placeholder="Enter your email", data-required="")


//-           fieldset.form-field 
//-             .form-fgoup.submit-btn-align-right
//-               button.form-submit.btn.btn_primary(type="button") Submit


//- // /MODAL