footer.footer 
  .footer-top
    .container
      .row.footer-top__row
        .col-3.footer-top__col.js-footer-collapse
          .footer-top__col-title
            span Портфолио
          nav
            ul.footer-menu
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
        .col-3.footer-top__col.js-footer-collapse
          .footer-top__col-title
            span Услуги
          nav
            ul.footer-menu
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
        .col-3.footer-top__col.js-footer-collapse
          .footer-top__col-title
            span О нас 
          nav
            ul.footer-menu
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
              li.footer-menu-item.lv1
                a(href="#") Создание интернет-магазина
        .col-3.footer-top__col.footer-top__col-contacts
          .footer-top__col-title
            span Контакты
          nav
            ul.footer-menu
              li.footer-menu-item.lv1
                a(href="tel:+375333305935") +375 (33) 330-59-35
              li.footer-menu-item.lv1
                a(href="mailto:info@namez.by") info@namez.by
              li.footer-menu-item.lv1
                span г. Брест, ул Янки Купалы 109Б
          .footer__logo 
            a(href="#") 
              img(src="img/logo.svg", alt="Логотип")

  .footer-bottom
    .container
      .footer-bottom__row 
        .footer__copy 
          |&copy; 2024 NAMEZ 
          span.d-none_xs - пожалуй лучшие в мире брендинга
        .footer__social 
          a.footer__social-link.footer__social-link--vk(href="#", target="_blank", title="ВКонтакте") 
          a.footer__social-link.footer__social-link--tg(href="#", target="_blank", title="Телеграм") 

      



//- ПОЧТА info@namez.by




//- // MODAL
//- .modal#callbackModal
//-   .modal__inner
//-     button.modal__close 

//-     .modal__content
//-       .modal__header
//-         h2 This is modal 1 heading
//-       .modal__body
//- // /MODAL
//- |
//- // MODAL
//- .modal#formModal
//-   .modal__inner
//-     button.modal__close 

//-     .modal__content
//-       .modal__header
//-         h2 This is modal 1 heading
//-       .modal__body
//-         form.form(enctype="multipart/form-data" name="" data-action="../php/send-order.php").order__form

//-           fieldset.form-field 
//-             legend.form-field__title Personal Data


//-               .form-group 
//-                 label.form-label(for="firstName2") First name
//-                 input#firstName2.form-control(type="text", name="firstName2", placeholder="Enter your first name", data-required="") 

          
//-               .form-group 
//-                 label.form-label(for="lastName2") Last name
//-                 input#lastName2.form-control(type="text", name="lastName2", placeholder="Enter your last name") 


//-           fieldset.form-field 
//-             legend.form-field__title Сontact information

//-               .form-group
//-                 label.form-label(for="phone2") Phone
//-                 input#phone2.form-control(type="tel", name="phone2", placeholder="Enter your phone number", data-required="", data-mask)
            
//-               .form-group
//-                 label.form-label(for="email2") Email
//-                 input#email2.form-control(type="email", name="email2", placeholder="Enter your email", data-required="")


//-           fieldset.form-field 
//-             .form-fgoup.submit-btn-align-right
//-               button.form-submit.btn.btn_primary(type="button") Submit


//- // /MODAL