//- Сетка карточкек услуг с названием, описанием и ссылкой
.container 
  .services-grid-wrap
    .services-grid


      .services-grid__item 
        .services-grid__item-img
          img(src="img/service-item-1.jpg", alt="")
        .services-grid__item-info
          .services-grid__item-title 
            h3 Название услуги
          .services-grid__item-text краткое описание услуги
          a(href="#").services-grid__item-btn
            span Подробнее 
            <svg id="arrdarkright" width="40" height="66" viewBox="0 0 40 66" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_6_12)">
                <path class="arr-svg" d="M0.144715 4.12758L4.42378 0.143753L39.8346 33L4.42378 65.8563L0.144714 61.893L31.2558 33L0.144715 4.12758Z" fill="#151D28"/>
              </g>
              <defs>
                <clipPath id="clip0_6_12">
                  <rect width="66" height="40" fill="white" transform="translate(0 66) rotate(-90)"/>
                </clipPath>
              </defs>
            </svg>

      .services-grid__item 
        .services-grid__item-img
          img(src="img/service-item-1.jpg", alt="")
        .services-grid__item-info
          .services-grid__item-title 
            h3 Название услуги
          .services-grid__item-text краткое описание услуги
          a(href="#").services-grid__item-btn
            span Подробнее 
            <svg id="arrdarkright" width="40" height="66" viewBox="0 0 40 66" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_6_12)">
                <path class="arr-svg" d="M0.144715 4.12758L4.42378 0.143753L39.8346 33L4.42378 65.8563L0.144714 61.893L31.2558 33L0.144715 4.12758Z" fill="#151D28"/>
              </g>
              <defs>
                <clipPath id="clip0_6_12">
                  <rect width="66" height="40" fill="white" transform="translate(0 66) rotate(-90)"/>
                </clipPath>
              </defs>
            </svg>


      .services-grid__item 
        .services-grid__item-img
          img(src="img/service-item-1.jpg", alt="")
        .services-grid__item-info
          .services-grid__item-title 
            h3 Название услуги
          .services-grid__item-text краткое описание услуги
          a(href="#").services-grid__item-btn
            span Подробнее 
            <svg id="arrdarkright" width="40" height="66" viewBox="0 0 40 66" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_6_12)">
                <path class="arr-svg" d="M0.144715 4.12758L4.42378 0.143753L39.8346 33L4.42378 65.8563L0.144714 61.893L31.2558 33L0.144715 4.12758Z" fill="#151D28"/>
              </g>
              <defs>
                <clipPath id="clip0_6_12">
                  <rect width="66" height="40" fill="white" transform="translate(0 66) rotate(-90)"/>
                </clipPath>
              </defs>
            </svg>

      .services-grid__item 
        .services-grid__item-img
          img(src="img/service-item-1.jpg", alt="")
        .services-grid__item-info
          .services-grid__item-title 
            h3 Название услуги
          .services-grid__item-text краткое описание услуги
          a(href="#").services-grid__item-btn
            span Подробнее 
            <svg id="arrdarkright" width="40" height="66" viewBox="0 0 40 66" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_6_12)">
                <path class="arr-svg" d="M0.144715 4.12758L4.42378 0.143753L39.8346 33L4.42378 65.8563L0.144714 61.893L31.2558 33L0.144715 4.12758Z" fill="#151D28"/>
              </g>
              <defs>
                <clipPath id="clip0_6_12">
                  <rect width="66" height="40" fill="white" transform="translate(0 66) rotate(-90)"/>
                </clipPath>
              </defs>
            </svg>

      .services-grid__item 
        .services-grid__item-img
          img(src="img/service-item-1.jpg", alt="")
        .services-grid__item-info
          .services-grid__item-title 
            h3 Название услуги
          .services-grid__item-text краткое описание услуги
          a(href="#").services-grid__item-btn
            span Подробнее 
            <svg id="arrdarkright" width="40" height="66" viewBox="0 0 40 66" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_6_12)">
                <path class="arr-svg" d="M0.144715 4.12758L4.42378 0.143753L39.8346 33L4.42378 65.8563L0.144714 61.893L31.2558 33L0.144715 4.12758Z" fill="#151D28"/>
              </g>
              <defs>
                <clipPath id="clip0_6_12">
                  <rect width="66" height="40" fill="white" transform="translate(0 66) rotate(-90)"/>
                </clipPath>
              </defs>
            </svg>


      .services-grid__item 
        .services-grid__item-img
          img(src="img/service-item-1.jpg", alt="")
        .services-grid__item-info
          .services-grid__item-title 
            h3 Название услуги
          .services-grid__item-text краткое описание услуги
          a(href="#").services-grid__item-btn
            span Подробнее 
            <svg id="arrdarkright" width="40" height="66" viewBox="0 0 40 66" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_6_12)">
                <path class="arr-svg" d="M0.144715 4.12758L4.42378 0.143753L39.8346 33L4.42378 65.8563L0.144714 61.893L31.2558 33L0.144715 4.12758Z" fill="#151D28"/>
              </g>
              <defs>
                <clipPath id="clip0_6_12">
                  <rect width="66" height="40" fill="white" transform="translate(0 66) rotate(-90)"/>
                </clipPath>
              </defs>
            </svg>
        

