//- Галерея карточкек услуг
.container 
  .services-gallery-wrap
    .services-grid.gallery


      .gallery__item 
        .gallery__item-img
          img(src="img/service-item-1.jpg", alt="")


      .gallery__item 
        .gallery__item-img
          img(src="img/service-item-1.jpg", alt="")


      .gallery__item 
        .gallery__item-img
          img(src="img/service-item-1.jpg", alt="")


      .gallery__item 
        .gallery__item-img
          img(src="img/service-item-1.jpg", alt="")
        

