extends ../_templates/_serviceindex.pug

block page-vars
  -
    let page = pages.about;





block main 
  main.main

    section.section.about
      .container
        .section-title.services__title
          h1 
            span.text-accent О нас

        .row.about-content 
          .col-6.col-12_lg
            .about__text
              .about__text-inner.dynamic-content
                p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Прямо продолжил сих 
                p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Прямо продолжил сих вершину
                p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Прямо продолжил сих 
                p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Прямо продолжил сих вершину
                p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Прямо продолжил сих 
                p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Прямо продолжил сих вершину
                p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Прямо продолжил сих 
                p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Прямо продолжил сих вершину
                p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Прямо продолжил сих 
                p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Прямо продолжил сих вершину 


              .about__author
                span.about__name_author Андрей
                span.about__founder Основатель агенства
              
          
          .col-6.col-12_lg
            .about__img
              img(src="img/o_nas.jpg", alt="")

