extends ../_templates/_serviceindex.pug

block page-vars
  -
    let page = pages.portfolioindex;





block main 
  main.main
    .container
      .section-title.services__title.page-title
        h1 
          span.text-accent Блог
    .container.page-content-has-sidebar.page-content-has-sidebar_top-md


      .section.section_pt-0.posts-box
              


        .posts-grid



          article.posts__item
            .blog-post-thumb
              a.blog-img-post-link(href="#")
                img(src="https://ddi.by/wp-content/uploads/2024/05/pochemu-dizayn-sayta-tak-vazhen.jpg",alt="Почему дизайн сайта так важен?")
            .blog-post-meta
              time.blog-post-date(datetime="2024-05-07T12:56") 7 мая 2024
            .blog-post-title
              h3
                a.blog-post-link(href="#") Почему дизайн сайта так важен?
            .blog-post-excerpt
              p Сегодня в мире практически не найдёшь компанию или успешного человека, у которых нет персональной страницы в Интернете. Сразу же стоит отметить, что успешность сайтов зависит от дизайна и соответствия требованиям, которые предъявляет сегодняшний день. Если портал сделан качественно, то сразу же понравится пользователю, который обязательно ознакомится с содержимым сайта на всех предоставленных для обозрения страницах. […]


          article.posts__item
            .blog-post-thumb
              a.blog-img-post-link(href="#")
                img(src="https://ddi.by/wp-content/uploads/2024/05/pochemu-dizayn-sayta-tak-vazhen.jpg",alt="Почему дизайн сайта так важен?")
            .blog-post-meta
              time.blog-post-date(datetime="2024-05-07T12:56") 7 мая 2024
            .blog-post-title
              h3
                a.blog-post-link(href="#") Почему дизайн сайта так важен?
            .blog-post-excerpt
              p Сегодня в мире практически не найдёшь компанию или успешного человека, у которых нет персональной страницы в Интернете. Сразу же стоит отметить, что успешность сайтов зависит от дизайна и соответствия требованиям, которые предъявляет сегодняшний день. Если портал сделан качественно, то сразу же понравится пользователю, который обязательно ознакомится с содержимым сайта на всех предоставленных для обозрения страницах. […]


          article.posts__item
            .blog-post-thumb
              a.blog-img-post-link(href="#")
                img(src="https://ddi.by/wp-content/uploads/2024/05/pochemu-dizayn-sayta-tak-vazhen.jpg",alt="Почему дизайн сайта так важен?")
            .blog-post-meta
              time.blog-post-date(datetime="2024-05-07T12:56") 7 мая 2024
            .blog-post-title
              h3
                a.blog-post-link(href="#") Почему дизайн сайта так важен?
            .blog-post-excerpt
              p Сегодня в мире практически не найдёшь компанию или успешного человека, у которых нет персональной страницы в Интернете. Сразу же стоит отметить, что успешность сайтов зависит от дизайна и соответствия требованиям, которые предъявляет сегодняшний день. Если портал сделан качественно, то сразу же понравится пользователю, который обязательно ознакомится с содержимым сайта на всех предоставленных для обозрения страницах. […]


          article.posts__item
            .blog-post-thumb
              a.blog-img-post-link(href="#")
                img(src="https://ddi.by/wp-content/uploads/2024/05/pochemu-dizayn-sayta-tak-vazhen.jpg",alt="Почему дизайн сайта так важен?")
            .blog-post-meta
              time.blog-post-date(datetime="2024-05-07T12:56") 7 мая 2024
            .blog-post-title
              h3
                a.blog-post-link(href="#") Почему дизайн сайта так важен?
            .blog-post-excerpt
              p Сегодня в мире практически не найдёшь компанию или успешного человека, у которых нет персональной страницы в Интернете. Сразу же стоит отметить, что успешность сайтов зависит от дизайна и соответствия требованиям, которые предъявляет сегодняшний день. Если портал сделан качественно, то сразу же понравится пользователю, который обязательно ознакомится с содержимым сайта на всех предоставленных для обозрения страницах. […]


          article.posts__item
            .blog-post-thumb
              a.blog-img-post-link(href="#")
                img(src="https://ddi.by/wp-content/uploads/2024/05/pochemu-dizayn-sayta-tak-vazhen.jpg",alt="Почему дизайн сайта так важен?")
            .blog-post-meta
              time.blog-post-date(datetime="2024-05-07T12:56") 7 мая 2024
            .blog-post-title
              h3
                a.blog-post-link(href="#") Почему дизайн сайта так важен?
            .blog-post-excerpt
              p Сегодня в мире практически не найдёшь компанию или успешного человека, у которых нет персональной страницы в Интернете. Сразу же стоит отметить, что успешность сайтов зависит от дизайна и соответствия требованиям, которые предъявляет сегодняшний день. Если портал сделан качественно, то сразу же понравится пользователю, который обязательно ознакомится с содержимым сайта на всех предоставленных для обозрения страницах. […]


          article.posts__item
            .blog-post-thumb
              a.blog-img-post-link(href="#")
                img(src="https://ddi.by/wp-content/uploads/2024/05/pochemu-dizayn-sayta-tak-vazhen.jpg",alt="Почему дизайн сайта так важен?")
            .blog-post-meta
              time.blog-post-date(datetime="2024-05-07T12:56") 7 мая 2024
            .blog-post-title
              h3
                a.blog-post-link(href="#") Почему дизайн сайта так важен?
            .blog-post-excerpt
              p Сегодня в мире практически не найдёшь компанию или успешного человека, у которых нет персональной страницы в Интернете. Сразу же стоит отметить, что успешность сайтов зависит от дизайна и соответствия требованиям, которые предъявляет сегодняшний день. Если портал сделан качественно, то сразу же понравится пользователю, который обязательно ознакомится с содержимым сайта на всех предоставленных для обозрения страницах. […]


          article.posts__item
            .blog-post-thumb
              a.blog-img-post-link(href="#")
                img(src="https://ddi.by/wp-content/uploads/2024/05/pochemu-dizayn-sayta-tak-vazhen.jpg",alt="Почему дизайн сайта так важен?")
            .blog-post-meta
              time.blog-post-date(datetime="2024-05-07T12:56") 7 мая 2024
            .blog-post-title
              h3
                a.blog-post-link(href="#") Почему дизайн сайта так важен?
            .blog-post-excerpt
              p Сегодня в мире практически не найдёшь компанию или успешного человека, у которых нет персональной страницы в Интернете. Сразу же стоит отметить, что успешность сайтов зависит от дизайна и соответствия требованиям, которые предъявляет сегодняшний день. Если портал сделан качественно, то сразу же понравится пользователю, который обязательно ознакомится с содержимым сайта на всех предоставленных для обозрения страницах. […]
  

                        
      aside.sidebar.page-sidebar
        include ../_includes/_blog-sidebar.pug


    .container
      .pagination-wrap
        nav.navigation.pagination
  
          .nav-links.nav-links_primary
            a.prev.page-numbers(href="#") Пред
            a.page-numbers(href="#") 1
            span.page-numbers.current(aria-current="page") 2
  


    .blog__proposal
      include ../_includes/_proposal-section.pug




