extends ../_templates/_serviceindex.pug

block page-vars
  -
    let page = pages.portfolioindex;





block main 
  main.main.article-page
    .container
      .blog-article-thumb-wrap
        .section-entry__filter(style="opacity: 0;")
        .blog-article-thumb
          img(src="https://amax.by/wp-content/uploads/2024/02/dom-ili-muzej.jpg", alt="альт")

      .article-post-meta
        time.article-post-date(datetime="2024-02-06T08:00") 6 февраля 2024

      .page-content-has-sidebar.page-content-has-sidebar_bottom-md
        article.blog-article-content
          .article-page-title
            h1 
              |Заголовок нашей 
              span.text-accent новой записи

          .dynamic-content
            p Превращение дома в музей – это распространенная ошибка, которую совершают многие люди при оформлении интерьера. Важно помнить о том, что дом должен быть уютным и комфортным местом для жизни, а не просто выставочным залом для предметов искусства и коллекционирования. Из этой очередной статьи нашего блога вы узнаете, как избежать чрезмерного заполнения пространства ненужными аксессуарами.

            h2 Как избежать превращения дома в музей?

            
            p Превращение дома в музей – это распространенная ошибка, которую совершают многие люди при оформлении интерьера. Важно помнить о том, что дом должен быть уютным и комфортным местом для жизни, а не просто выставочным залом для предметов искусства и коллекционирования. Из этой очередной статьи нашего блога вы узнаете, как избежать чрезмерного заполнения пространства ненужными аксессуарами.

            
            p Превращение дома в музей – это распространенная ошибка, которую совершают многие люди при оформлении интерьера. Важно помнить о том, что дом должен быть уютным и комфортным местом для жизни, а не просто выставочным залом для предметов искусства и коллекционирования. Из этой очередной статьи нашего блога вы узнаете, как избежать чрезмерного заполнения пространства ненужными аксессуарами.

            ul 
              li 
                |Создайте уютную атмосферу. 
                a(href="https://amax.by/dizajn-kvartiry/") Дизайн интерьера квартиры 
                | должен быть таким, чтобы вы чувствовали себя в нем комфортно и уютно. Используйте мягкие ткани, свечи и другие элементы декора, чтобы создать такую атмосферу.
              li 
                |Создайте уютную атмосферу. 
                a(href="https://amax.by/dizajn-kvartiry/") Дизайн интерьера квартиры 
                | должен быть таким, чтобы вы чувствовали себя в нем комфортно и уютно. Используйте мягкие ткани, свечи и другие элементы декора, чтобы создать такую атмосферу.
              li 
                |Создайте уютную атмосферу. 
                a(href="https://amax.by/dizajn-kvartiry/") Дизайн интерьера квартиры 
                | должен быть таким, чтобы вы чувствовали себя в нем комфортно и уютно. Используйте мягкие ткани, свечи и другие элементы декора, чтобы создать такую атмосферу.
              li 
                |Создайте уютную атмосферу. 
                a(href="https://amax.by/dizajn-kvartiry/") Дизайн интерьера квартиры 
                | должен быть таким, чтобы вы чувствовали себя в нем комфортно и уютно. Используйте мягкие ткани, свечи и другие элементы декора, чтобы создать такую атмосферу.
                                
            p Превращение дома в музей – это распространенная ошибка, которую совершают многие люди при оформлении интерьера. Важно помнить о том, что дом должен быть уютным и комфортным местом для жизни, а не просто выставочным залом для предметов искусства и коллекционирования. Из этой очередной статьи нашего блога вы узнаете, как избежать чрезмерного заполнения пространства ненужными аксессуарами.

            
        aside.sidebar.page-sidebar
          include ../_includes/_blog-sidebar.pug



  


    .blog__proposal
      include ../_includes/_proposal-section.pug




