extends ../_templates/_base.pug

block page-vars
  -
    let page = pages.index;





block main 
  main.main

    section.section.section_py-0.entry 
      .swiper.entry-slider
        .swiper-wrapper
          .swiper-slide.entry-slide 
            a(href="#")
              img(src="img/entry-slide-1.jpg", alt="") 
          .swiper-slide.entry-slide 
            a(href="#")
              img(src="img/entry-slide-2.jpg", alt="") 
          .swiper-slide.entry-slide 
            a(href="#")
              img(src="img/entry-slide-3.jpg", alt="") 
          .swiper-slide.entry-slide 
            a(href="#")
              img(src="img/entry-slide-4.jpg", alt="") 
    
        .swiper-button-next
        .swiper-button-prev


    section.section.services 
      .container 
        .section-title.services__title
          h1 
            span.text-accent Привлекаем внимание 
            | покупателей, вызываем интерес и доверие.

        .tabs-wrap
          .tabs
            .tabs__btn.btn.btn_outline.btn_rounded.active(data-target="tabs-content1") Брендинг
            .tabs__btn.btn.btn_outline.btn_rounded(data-target="tabs-content2") Нейминг
            .tabs__btn.btn.btn_outline.btn_rounded(data-target="tabs-content3") Фирменный стиль
            .tabs__btn.btn.btn_outline.btn_rounded(data-target="tabs-content4") Дизайн упаковки
            .tabs__btn.btn.btn_outline.btn_rounded(data-target="tabs-content5") Фирменный стиль
            .tabs__btn.btn.btn_outline.btn_rounded(data-target="tabs-content6") Нейминг
            .tabs__btn.btn.btn_outline.btn_rounded(data-target="tabs-content7") Фирменный стиль
            .tabs__btn.btn.btn_outline.btn_rounded(data-target="tabs-content8") Нейминг
            .tabs__btn.btn.btn_outline.btn_rounded(data-target="tabs-content9") Фирменный стиль


          .tabs-content

            #tabs-content1.tabs-content__item.active 
              .service-item 
                .service-item__content 
                  .service-item__title
                    h3 Брендинг, разработка
                  .service-item__text
                    p Непрерывный анализ рынка и авторские идеи позволяют создавать уникальные бренды, которые работают и приносят успех
                    p Компания neologika branding фокусируется на создании максимально эмоциональных и ярких брендов, которые покупатель запомнит надолго.
                    .service-item__content-footer
                      button.btn.btn_secondary.btn_rounded Заказать
                      a.order-link(href="#") Подробнее
                .service-item__thumb
                  img(src="img/service-item-2.jpg", alt="")
             
            #tabs-content2.tabs-content__item
              .service-item.service-item_reverse
                .service-item__content 
                  .service-item__title
                    h3 Нейминг
                  .service-item__text
                    p Непрерывный анализ рынка и авторские идеи позволяют создавать уникальные бренды, которые работают и приносят успех
                    p Компания neologika branding фокусируется на создании максимально эмоциональных и ярких брендов, которые покупатель запомнит надолго.
                    .service-item__content-footer
                      button.btn.btn_secondary.btn_rounded Заказать
                      a.order-link(href="#") Подробнее
                .service-item__thumb
                  img(src="img/service-item-1.jpg", alt="")
             
            #tabs-content3.tabs-content__item
              .service-item
                .service-item__content 
                  .service-item__title
                    h3 Нейминг
                  .service-item__text
                    p Непрерывный анализ рынка и авторские идеи позволяют создавать уникальные бренды, которые работают и приносят успех
                    p Компания neologika branding фокусируется на создании максимально эмоциональных и ярких брендов, которые покупатель запомнит надолго.
                    .service-item__content-footer
                      button.btn.btn_secondary.btn_rounded Заказать
                      a.order-link(href="#") Подробнее
                .service-item__thumb
                  img(src="img/service-item-2.jpg", alt="")
             
            #tabs-content4.tabs-content__item
              .service-item.service-item_reverse
                .service-item__content 
                  .service-item__title
                    h3 Нейминг
                  .service-item__text
                    p Непрерывный анализ рынка и авторские идеи позволяют создавать уникальные бренды, которые работают и приносят успех
                    p Компания neologika branding фокусируется на создании максимально эмоциональных и ярких брендов, которые покупатель запомнит надолго.
                    .service-item__content-footer
                      button.btn.btn_secondary.btn_rounded Заказать
                      a.order-link(href="#") Подробнее
                .service-item__thumb
                  img(src="img/service-item-1.jpg", alt="")
             
            #tabs-content5.tabs-content__item
              .service-item
                .service-item__content 
                  .service-item__title
                    h3 Нейминг
                  .service-item__text
                    p Непрерывный анализ рынка и авторские идеи позволяют создавать уникальные бренды, которые работают и приносят успех
                    p Компания neologika branding фокусируется на создании максимально эмоциональных и ярких брендов, которые покупатель запомнит надолго.
                    .service-item__content-footer
                      button.btn.btn_secondary.btn_rounded Заказать
                      a.order-link(href="#") Подробнее
                .service-item__thumb
                  img(src="img/service-item-1.jpg", alt="")
             
            #tabs-content6.tabs-content__item
              .service-item.service-item_reverse
                .service-item__content 
                  .service-item__title
                    h3 Нейминг
                  .service-item__text
                    p Непрерывный анализ рынка и авторские идеи позволяют создавать уникальные бренды, которые работают и приносят успех
                    p Компания neologika branding фокусируется на создании максимально эмоциональных и ярких брендов, которые покупатель запомнит надолго.
                    .service-item__content-footer
                      button.btn.btn_secondary.btn_rounded Заказать
                      a.order-link(href="#") Подробнее
                .service-item__thumb
                  img(src="img/service-item-2.jpg", alt="")
             
            #tabs-content7.tabs-content__item
              .service-item
                .service-item__content 
                  .service-item__title
                    h3 Нейминг
                  .service-item__text
                    p Непрерывный анализ рынка и авторские идеи позволяют создавать уникальные бренды, которые работают и приносят успех
                    p Компания neologika branding фокусируется на создании максимально эмоциональных и ярких брендов, которые покупатель запомнит надолго.
                    .service-item__content-footer
                      button.btn.btn_secondary.btn_rounded Заказать
                      a.order-link(href="#") Подробнее
                .service-item__thumb
                  img(src="img/service-item-1.jpg", alt="")
          
            #tabs-content8.tabs-content__item
              .service-item.service-item_reverse
                .service-item__content 
                  .service-item__title
                    h3 Нейминг
                  .service-item__text
                    p Непрерывный анализ рынка и авторские идеи позволяют создавать уникальные бренды, которые работают и приносят успех
                    p Компания neologika branding фокусируется на создании максимально эмоциональных и ярких брендов, которые покупатель запомнит надолго.
                    .service-item__content-footer
                      button.btn.btn_secondary.btn_rounded Заказать
                      a.order-link(href="#") Подробнее
                .service-item__thumb
                  img(src="img/service-item-2.jpg", alt="")
           
            #tabs-content9.tabs-content__item
              .service-item
                .service-item__content 
                  .service-item__title
                    h3 Нейминг
                  .service-item__text
                    p Непрерывный анализ рынка и авторские идеи позволяют создавать уникальные бренды, которые работают и приносят успех
                    p Компания neologika branding фокусируется на создании максимально эмоциональных и ярких брендов, которые покупатель запомнит надолго.
                    .service-item__content-footer
                      button.btn.btn_secondary.btn_rounded Заказать
                      a.order-link(href="#") Подробнее
                .service-item__thumb
                  img(src="img/service-item-1.jpg", alt="")



    include ../_includes/_advantages-section.pug


    section.section.clients
      .container 
        .section-title
          h2 Наши клиенты

      .container_fluid.clients-slider-wrapper


        .swiper.clients-slider
          .swiper-wrapper
            .swiper-slide.clients-slide
              img(src="img/clients-1.png.webp", alt="") 
            .swiper-slide.clients-slide
              img(src="img/entry-slide-3.jpg", alt="") 
            .swiper-slide.clients-slide
              img(src="img/clients-3.png", alt="") 
            .swiper-slide.clients-slide
              img(src="img/clients-4.png", alt="") 
            .swiper-slide.clients-slide
              img(src="img/clients-5.png", alt="") 
            .swiper-slide.clients-slide
              img(src="img/clients-6.png", alt="") 
            .swiper-slide.clients-slide
              img(src="img/clients-7.png", alt="") 
            .swiper-slide.clients-slide
              img(src="img/clients-8.png", alt="") 
      
        .swiper-button-next
        .swiper-button-prev



    section.section.section_light.presentation
      .mooving-bg.mooving-bg-1
      .mooving-bg.mooving-bg-2
      .container.presentation__container
        .section-title
          h2 Скачайте презентацию



        .presentation__box 


          a(href="#").presentation__item
            .presentation__item-icon.presentation__item-icon--store-branding
            .presentation__item-title 
              |Товарный
              br
              |брендинг

        
          a(href="#").presentation__item
            .presentation__item-icon.presentation__item-icon--beauty
            .presentation__item-title 
              |Красота и
              br
              |здоровье

       
          a(href="#").presentation__item
            .presentation__item-icon.presentation__item-icon--services
            .presentation__item-title 
              |Сфера
              br
              |услуг

        
          a(href="#").presentation__item
            .presentation__item-icon.presentation__item-icon--corp-branding
            .presentation__item-title 
              |Корпоративный
              br
              |брендинг





    include ../_includes/_proposal-section.pug





              




            


        
  

