extends ../_templates/_serviceindex.pug

block page-vars
  -
    let page = pages.serviceindex;





block main 
  main.main

    section.section_pt7-5.dynamic-content 
      .container 
        .row.mx-1
          .px1.col-3.col-5_md.col-12_md
            p С ее помощью можно защитить бизнес от кризиса, вывести организацию на новый уровень или в новый сегмент рынка.

          .px1.col-9.col-7_md.col-12_md
            p 
              strong С ее помощью можно защитить бизнес от кризиса, вывести организацию на новый уровень или в новый сегмент рынка.
            p Как следствие, создание стратегии позволяет повысить показатели продаж и увеличить долю, занимаемую на рынке вашим бизнесом.
            p Построение стратегии идет в 
              strong паре с другим процессом — брендингом. 
              |Правильный брендинг является отправной точкой для успешной реализации стратегии. Вы можете изучить информацию по брендингу у агентства Neologika, нажав на ссылку ниже.


    section.section.services-entry 
      .container 
        .section-title.services__title
          h1 ВСЕ Наши
            span.text-accent услуги

      .container 


        //- .services-grid


          .services-grid__item 
            .services-grid__item-img
              img(src="img/service-item-1.jpg", alt="")
            a(href="#").services-grid__item-info
              .services-grid__item-title Название услуги
              .services-grid__item-text Краткое описание услуни
              .services-grid__item-btn Кнопка
        
          .services-grid__item 
            .services-grid__item-img
              img(src="img/service-item-1.jpg", alt="")
            a(href="#").services-grid__item-info
              .services-grid__item-title Название услуги
              .services-grid__item-text Краткое описание услуни
              .services-grid__item-btn Кнопка
        
          .services-grid__item 
            .services-grid__item-img
              img(src="img/service-item-1.jpg", alt="")
            a(href="#").services-grid__item-info
              .services-grid__item-title Название услуги
              .services-grid__item-text Краткое описание услуни
              .services-grid__item-btn Кнопка
    

  
    

      //- .container
      include ../_includes/_services-gallery-grid.pug


    include ../_includes/_proposal-section.pug