extends ../_templates/_serviceindex.pug

block page-vars
  -
    let page = pages.serviceindex;





block main 
  main.main



    section.section.services-entry 
      .container 
        .section-title.services__title
          h1 Разработка 
            span.text-accent бренда «под ключ»


    
      //- .container
      include ../_includes/_services-cards-grid.pug
      //- .container
      include ../_includes/_services-gallery-grid.pug




    include ../_includes/_advantages-section.pug



    section.section.dynamic-content.service-dynamic 
      .container 
        .service-columns 
          h2 В чем важность 
            span.text-accent создания стратегии?
          p 
            strong С ее помощью можно защитить бизнес от кризиса, вывести организацию на новый уровень или в новый сегмент рынка.
          p Как следствие, создание стратегии позволяет повысить показатели продаж и увеличить долю, занимаемую на рынке вашим бизнесом.
          p Построение стратегии идет в 
            strong паре с другим процессом — брендингом. 
            |Правильный брендинг является отправной точкой для успешной реализации стратегии. Вы можете изучить информацию по брендингу у агентства Neologika, нажав на ссылку ниже.

        .service-thumb
          img(src="img/entry-slide-2.jpg", alt="")


        figure.wp-block-table
          table.table.table_default-color.table_rounded.table_2col
            thead
              tr 
                th Тип работы
                th Стоимость

            tbody
              tr
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ
              tr
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ
              tr
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ
              tr
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ
              tr
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ




          figcaption.wp-element-caption




        br
        br
        //- YELLOW
        figure.wp-block-table
          table.table.table_yellow-color.table_rounded.table_2col.table_col-mobile
            thead
              tr 
                th Тип работы
                th Стоимость

            tbody
              tr
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ
              tr
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ
              tr
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ
              tr
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ
              tr
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ



          figcaption.wp-element-caption



        br
        br
        //- ROTATED
        figure.wp-block-table
          table.table.table_rotated
            tbody
              tr
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ
              tr
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ
              tr
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ


          figcaption.wp-element-caption


        br
        br
        //- ROTATED-TYPE2
        figure.wp-block-table
          table.table.table_rotated-2
            tbody
              tr
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ
              tr
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ
              tr
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ


          figcaption.wp-element-caption

        br
        br
        //- ROTATED-TYPE3
        figure.wp-block-table
          table.table.table_rotated-3.table_rotated-yellow
            tbody
              tr
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ
              tr
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ
              tr
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ


          figcaption.wp-element-caption








    include ../_includes/_proposal-section.pug