extends ../_templates/_serviceindex.pug

block page-vars
  -
    let page = pages.serviceindex;





block main 
  main.main



    section.section.services-entry 
      .container 
        .section-title.services__title
          h1 Разработка 
            span.text-accent бренда «под ключ»

      .container 
        .services-grid-wrap


          .services-grid
            .services-grid__item 
              .services-grid__item-img
                img(src="img/service-item-1.jpg", alt="")
              .services-grid__item-info
                .services-grid__item-title 
                  h3 Название услуги
                .services-grid__item-text краткое описание услуги
                a(href="#").services-grid__item-btn
                  span Подробнее 
                  <svg id="arrdarkright" width="40" height="66" viewBox="0 0 40 66" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_6_12)">
                      <path class="arr-svg" d="M0.144715 4.12758L4.42378 0.143753L39.8346 33L4.42378 65.8563L0.144714 61.893L31.2558 33L0.144715 4.12758Z" fill="#151D28"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_6_12">
                        <rect width="66" height="40" fill="white" transform="translate(0 66) rotate(-90)"/>
                      </clipPath>
                    </defs>
                  </svg>

            .services-grid__item 
              .services-grid__item-img
                img(src="img/service-item-1.jpg", alt="")
              .services-grid__item-info
                .services-grid__item-title 
                  h3 Название услуги
                .services-grid__item-text краткое описание услуги
                a(href="#").services-grid__item-btn
                  span Подробнее 
                  <svg id="arrdarkright" width="40" height="66" viewBox="0 0 40 66" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_6_12)">
                      <path class="arr-svg" d="M0.144715 4.12758L4.42378 0.143753L39.8346 33L4.42378 65.8563L0.144714 61.893L31.2558 33L0.144715 4.12758Z" fill="#151D28"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_6_12">
                        <rect width="66" height="40" fill="white" transform="translate(0 66) rotate(-90)"/>
                      </clipPath>
                    </defs>
                  </svg>

            .services-grid__item 
              .services-grid__item-img
                img(src="img/service-item-1.jpg", alt="")
              .services-grid__item-info
                .services-grid__item-title 
                  h3 Название услуги
                .services-grid__item-text краткое описание услуги
                a(href="#").services-grid__item-btn
                  span Подробнее 
                  <svg id="arrdarkright" width="40" height="66" viewBox="0 0 40 66" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_6_12)">
                      <path class="arr-svg" d="M0.144715 4.12758L4.42378 0.143753L39.8346 33L4.42378 65.8563L0.144714 61.893L31.2558 33L0.144715 4.12758Z" fill="#151D28"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_6_12">
                        <rect width="66" height="40" fill="white" transform="translate(0 66) rotate(-90)"/>
                      </clipPath>
                    </defs>
                  </svg>


          .services-grid
            .services-grid__item 
              .services-grid__item-img
                img(src="img/service-item-1.jpg", alt="")
              .services-grid__item-info
                .services-grid__item-title 
                  h3 Название услуги
                .services-grid__item-text краткое описание услуги
                a(href="#").services-grid__item-btn
                  span Подробнее 
                  <svg id="arrdarkright" width="40" height="66" viewBox="0 0 40 66" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_6_12)">
                      <path class="arr-svg" d="M0.144715 4.12758L4.42378 0.143753L39.8346 33L4.42378 65.8563L0.144714 61.893L31.2558 33L0.144715 4.12758Z" fill="#151D28"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_6_12">
                        <rect width="66" height="40" fill="white" transform="translate(0 66) rotate(-90)"/>
                      </clipPath>
                    </defs>
                  </svg>

            .services-grid__item 
              .services-grid__item-img
                img(src="img/service-item-1.jpg", alt="")
              .services-grid__item-info
                .services-grid__item-title 
                  h3 Название услуги
                .services-grid__item-text краткое описание услуги
                a(href="#").services-grid__item-btn
                  span Подробнее 
                  <svg id="arrdarkright" width="40" height="66" viewBox="0 0 40 66" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_6_12)">
                      <path class="arr-svg" d="M0.144715 4.12758L4.42378 0.143753L39.8346 33L4.42378 65.8563L0.144714 61.893L31.2558 33L0.144715 4.12758Z" fill="#151D28"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_6_12">
                        <rect width="66" height="40" fill="white" transform="translate(0 66) rotate(-90)"/>
                      </clipPath>
                    </defs>
                  </svg>

            .services-grid__item 
              .services-grid__item-img
                img(src="img/service-item-1.jpg", alt="")
              .services-grid__item-info
                .services-grid__item-title 
                  h3 Название услуги
                .services-grid__item-text краткое описание услуги
                a(href="#").services-grid__item-btn
                  span Подробнее 
                  <svg id="arrdarkright" width="40" height="66" viewBox="0 0 40 66" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_6_12)">
                      <path class="arr-svg" d="M0.144715 4.12758L4.42378 0.143753L39.8346 33L4.42378 65.8563L0.144714 61.893L31.2558 33L0.144715 4.12758Z" fill="#151D28"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_6_12">
                        <rect width="66" height="40" fill="white" transform="translate(0 66) rotate(-90)"/>
                      </clipPath>
                    </defs>
                  </svg>









    include ../_includes/_advantages-section.pug



    section.section.service-dynamic 
      .container 
        .service-columns 
          h2 В чем важность 
            span.text-accent создания стратегии?
          p 
            strong С ее помощью можно защитить бизнес от кризиса, вывести организацию на новый уровень или в новый сегмент рынка.
          p Как следствие, создание стратегии позволяет повысить показатели продаж и увеличить долю, занимаемую на рынке вашим бизнесом.
          p Построение стратегии идет в 
            strong паре с другим процессом — брендингом. 
            |Правильный брендинг является отправной точкой для успешной реализации стратегии. Вы можете изучить информацию по брендингу у агентства Neologika, нажав на ссылку ниже.

        .service-thumb
          img(src="img/entry-slide-2.jpg", alt="")


        figure.wp-block-table
          table.table.table_default-color.table_rounded
            thead
              tr 
                th Тип работы
                th Стоимость

            tbody
              tr
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ
              tr
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ
              tr
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ
              tr
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ
              tr
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ




          figcaption.wp-element-caption




        br
        br
        //- YELLOW
        figure.wp-block-table
          table.table.table_yellow-color.table_rounded.table_col-mobile
            thead
              tr 
                th Тип работы
                th Стоимость

            tbody
              tr
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ
              tr
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ
              tr
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ
              tr
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ
              tr
                td Оформление и подача заявки на регистрацию товарного знака
                td 2 класса МКТУ



          figcaption.wp-element-caption








    include ../_includes/_proposal-section.pug