//- Common variables
-
  let author = 'Artem Dots'
  let themeColor = '#fe7a2e'

  // Если требуется заглушка для Internet Explorer
  let ieBung = false

  //- Массив наименований шрифтов для перебора в head.pug и предзагрузки
  let fontsPreload = [
    'GothamPro-Light.woff2',
    'GothamPro-Regular.woff2',
    'GothamPro-Medium.woff2',
    'GothamPro-Bold.woff2',
    'GothamPro-Black.woff2',
    ]

  //- ! URL определяется автоматом в миксине "меню" : pages-key+.html
  let pages = {
    index: {
      name:   'Главная',
      title:  'Namez - брендинговое агентство',
      descr:  'Генерируем приятные эмоции и красивые картинки, чтобы ваш бренд запомнили.',
      author:  author,
    },
    portfolioindex: {
      name:   'Портфолио',
      title:  'Namez - брендинговое агентство',
      descr:  'Генерируем приятные эмоции и красивые картинки, чтобы ваш бренд запомнили.',
      author:  author,
      isMenuItemHasChildren: {
        portfolio1: {
          name:   'Разработка фирменного стиля',
          title:  'Страница 2-1 - Название',
          descr:  '',
          fileStem: 'portfolio',
          author:  author,
          isMenuItem: true,
        },
        portfolio2: {
          name:   'Разработка фирменного стиля',
          title:  'Страница 2-2 - Название',
          descr:  '',
          fileStem: 'portfolio',
          author:  author,
          isMenuItem: true,
        },
        portfolio3: {
          name:   'Разработка фирменного стиля',
          title:  'Страница 2-3 - Название',
          descr:  '',
          fileStem: 'portfolio',
          author:  author,
          isMenuItem: true,
        },
        portfolio4: {
          name:   'Разработка фирменного стиля',
          title:  'Страница 2-3 - Название',
          descr:  '',
          fileStem: 'portfolio',
          author:  author,
          isMenuItem: true,
        },
        portfolio5: {
          name:   'Разработка фирменного стиля',
          title:  'Страница 2-3 - Название',
          descr:  '',
          fileStem: 'portfolio',
          author:  author,
          isMenuItem: true,
        },
        portfolio6: {
          name:   'Разработка фирменного стиля',
          title:  'Страница 2-3 - Название',
          descr:  '',
          fileStem: 'portfolio',
          author:  author,
          isMenuItem: true,
        },
        portfolio7: {
          name:   'Разработка фирменного стиля',
          title:  'Страница 2-3 - Название',
          descr:  '',
          fileStem: 'portfolio',
          author:  author,
          isMenuItem: true,
        },
        portfolio8: {
          name:   'Разработка фирменного стиля',
          title:  'Страница 2-3 - Название',
          descr:  '',
          fileStem: 'portfolio',
          author:  author,
          isMenuItem: true,
        },
        portfolio9: {
          name:   'Разработка фирменного стиля',
          title:  'Страница 2-3 - Название',
          descr:  '',
          fileStem: 'portfolio',
          author:  author,
          isMenuItem: true,
        },
        portfolio10: {
          name:   'Разработка фирменного стиля',
          title:  'Страница 2-3 - Название',
          descr:  '',
          fileStem: 'portfolio',
          author:  author,
          isMenuItem: true,
        },
      }
    },
    serviceindex: {
      name:   'Услуги',
      title:  'Namez - брендинговое агентство',
      descr:  'Генерируем приятные эмоции и красивые картинки, чтобы ваш бренд запомнили.',
      author:  author,
      isMenuItemHasChildren: {
        service1: {
          name:   'Разработка бренда «под ключ»',
          title:  'Страница 2-1 - Название',
          descr:  '',
          fileStem: 'service',
          author:  author,
          isMenuItem: true,
        },
        service2: {
          name:   'Разработка бренда «под ключ»',
          title:  'Страница 2-2 - Название',
          descr:  '',
          fileStem: 'service',
          author:  author,
          isMenuItem: true,
        },
        service3: {
          name:   'Разработка бренда «под ключ»',
          title:  'Страница 2-3 - Название',
          descr:  '',
          fileStem: 'service',
          author:  author,
          isMenuItem: true,
        },
        service4: {
          name:   'Разработка бренда «под ключ»',
          title:  'Страница 2-3 - Название',
          descr:  '',
          fileStem: 'service',
          author:  author,
          isMenuItem: true,
        },
        service5: {
          name:   'Разработка бренда «под ключ»',
          title:  'Страница 2-3 - Название',
          descr:  '',
          fileStem: 'service',
          author:  author,
          isMenuItem: true,
        },
        servis6: {
          name:   'Разработка бренда «под ключ»',
          title:  'Страница 2-3 - Название',
          descr:  '',
          fileStem: 'service',
          author:  author,
          isMenuItem: true,
        },
        service7: {
          name:   'Разработка бренда «под ключ»',
          title:  'Страница 2-3 - Название',
          descr:  '',
          fileStem: 'service',
          author:  author,
          isMenuItem: true,
        },
        service8: {
          name:   'Разработка бренда «под ключ»',
          title:  'Страница 2-3 - Название',
          descr:  '',
          fileStem: 'service',
          author:  author,
          isMenuItem: true,
        },
        service9: {
          name:   'Разработка бренда «под ключ»',
          title:  'Страница 2-3 - Название',
          descr:  '',
          fileStem: 'service',
          author:  author,
          isMenuItem: true,
        },
      }
    },
    blogindex: {
      name:   'Блог',
      title:  'Namez - брендинговое агентство',
      descr:  'Генерируем приятные эмоции и красивые картинки, чтобы ваш бренд запомнили.',
      author:  author,
      isMenuItemHasChildren: {
        blogpost1: {
          name:   'Что мы знаем о брендинге...',
          title:  'Страница 2-1 - Название',
          descr:  '',
          fileStem: 'blogpost',
          author:  author,
          isMenuItem: true,
        },
        blogpost2: {
          name:   'Что мы знаем о брендинге...',
          title:  'Страница 2-2 - Название',
          descr:  '',
          fileStem: 'blogpost',
          author:  author,
          isMenuItem: true,
        },
        blogpost3: {
          name:   'Что мы знаем о брендинге...',
          title:  'Страница 2-3 - Название',
          descr:  '',
          fileStem: 'blogpost',
          author:  author,
          isMenuItem: true,
        },
        blogpost4: {
          name:   'Что мы знаем о брендинге...',
          title:  'Страница 2-3 - Название',
          descr:  '',
          fileStem: 'blogpost',
          author:  author,
          isMenuItem: true,
        },
        blogpost5: {
          name:   'Что мы знаем о брендинге...',
          title:  'Страница 2-3 - Название',
          descr:  '',
          fileStem: 'blogpost',
          author:  author,
          isMenuItem: true,
        },
        blogpost6: {
          name:   'Что мы знаем о брендинге...',
          title:  'Страница 2-3 - Название',
          descr:  '',
          fileStem: 'blogpost',
          author:  author,
          isMenuItem: true,
        },
        blogpost7: {
          name:   'Что мы знаем о брендинге...',
          title:  'Страница 2-3 - Название',
          descr:  '',
          fileStem: 'blogpost',
          author:  author,
          isMenuItem: true,
        },
        blogpost8: {
          name:   'Что мы знаем о брендинге...',
          title:  'Страница 2-3 - Название',
          descr:  '',
          fileStem: 'blogpost',
          author:  author,
          isMenuItem: true,
        },
        blogpost9: {
          name:   'Что мы знаем о брендинге...',
          title:  'Страница 2-3 - Название',
          descr:  '',
          fileStem: 'blogpost',
          author:  author,
          isMenuItem: true,
        },
      }
    },
    about: {
      name:   'О нас',
      title:  'Namez - брендинговое агентство',
      descr:  'Генерируем приятные эмоции и красивые картинки, чтобы ваш бренд запомнили.',
      author:  author,
    },
    contacts: {
      name:   'Контакты',
      title:  'Namez - брендинговое агентство',
      descr:  'Генерируем приятные эмоции и красивые картинки, чтобы ваш бренд запомнили.',
      author:  author,
    },
  };



  //- const topMenu = {
  //-   index: {
  //-     name:   'Главная',
  //-   },
  //-   opportunities: {
  //-     name:   'Возможности',
  //-   },
  //-   rate: {
  //-     name:   'Тариф',
  //-   },
  //-   contacts: {
  //-     name:   'Контакты',
  //-   },
  //- }